<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>AirDresser</title>
<link rel="stylesheet" type="text/css" href="/assets/css/default.css">
<link rel="stylesheet" type="text/css" href="/assets/lib/page.css">
<link rel="stylesheet" type="text/css" href="/assets/css/airDresser.css">

<div class="airDresser-wrapper">
    <div class="airDresser-container">

        <!-- kv visual   -->
        <div class="airDresser-top">
            <section class="airDresser-section key-visual">
                <div class="airDresser-content">
                    <div class="airDresser-visual">
                        <figure class="airDresser-video">
                            <video autoplay loop muted playsinline preload="auto">
                                <source src="/assets/img/airDresser/key_visual.mp4" type="video/mp4">
                            </video>
                            <img src="/assets/img/airDresser/key_visual_img.jpg" alt="">
                            <span class="blind">
                An AirDresser device is shown in a dressing room.
                Step 1 : Air
                Air is shown passing over and around a pink item of clothing.
                Step 2 : Steam
                Steam flows upwards from the bottom of the AirDresser.
                Step 3 : Dry
                Moisture on the clothing evaporates.
                Step 4 : Freshen
                The garment is freshened with the deodorizing filter and dust filter.
                4 simple steps to refresh clothes
                The AirDresser is shown in action in the dressing room.
                A new way of clothing care
                The front of an AirDresser device.
                AirDresser
                Refresh your clothes everyday
                SAMSUNG
              </span>
                        </figure>
                        <div class="sound-cont">
                            <div class="btn-sound">
                                <button>
                                    <span class="blind">Sound<em>on</em></span>
                                    <i class="on"></i>
                                </button>
                                <div class="effect">
                                    <i class="on">
                                        <span class="phase phase_1"></span>
                                        <span class="phase phase_2"></span>
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- // kv visual   -->

        <!--  body content  -->
        <div class="airDresser-body">

            <section class="airDresser-section intro-airDresser">
                <div class="airDresser-text">
                    <h2 class="airDresser-title">Refresh your clothes everyday</h2>
                    <p class="airDresser-desc">Refresh and revitalize your clothes without washing. The Samsung AirDresser is a breath of fresh air in clothing care. This innovative concept uses powerful steam and air to dust off, deodorize, gently dry and sterilize* clothes, and also smooth out wrinkles.</p>
                </div>
                <div class="airDresser-content">
                    <div class="btn-default">
                        <a href="" title="AirDresser Product detail page"><span>SHOP NOW</span></a>
                    </div>
                    <p class="airDresser-disc">* Eliminates: 1) 99.9% of 4 viruses (Adenovirus, Influenza, Corona Virus and Herpesvirus) based on testing by the Korea Univ. lab. 2) 100% of house mites, based on testing by Intertek / BAF certification using a Sterilization course for 112 minutes. 3) 99% of odor causing gases (Iso-Valeric acid: sweat, 4-Ethenyl pyridine: tobacco, Valeraldehyde: food eg. from grilled meat, and Tetrachloroethylene: dry cleaning) based on testing by Intertek using a Normal course. 4) 99% of harmful substances (Perchloroethylene) based on testing by Intertek using a Normal course.</p>
                </div>
            </section>

            <section class="airDresser-section about-airDresser">
                <div class="airDresser-text">
                    <h2 class="airDresser-title">4 Steps of refreshing clothes</h2>
                </div>
                <div class="airDresser-content">
                    <div class="airDresser-content-inner">
                        <div class="tab-menus">
                            <ul>
                                <li class="on"><a href="#tab1" title="Tab 1: selected">Jet Air</a></li>
                                <li><a href="#tab2" title="">JetStream</a></li>
                                <li><a href="#tab3" title="">Heatpump<br> Drying</a></li>
                                <li><a href="#tab4" title="">Deodorizing<br> filter</a></li>
                            </ul>
                        </div>
                        <div class="tab-inner-text">
                            <div class="text-item">
                                <div class="airDresser-text">
                                    <h3 class="airDresser-sub-title">1 Step: Jet Air</h3>
                                    <p class="airDresser-desc">Effectively remove dust and odors from both the inside and outside of clothes.</p>
                                </div>
                            </div>
                            <div class="text-item">
                                <div class="airDresser-text">
                                    <h3 class="airDresser-sub-title">2 Step: JetSteam</h3>
                                    <p class="airDresser-desc">Eliminates 99.9% of viruses,  100% of house mites, and removes 99% of odors and harmful substances*</p>
                                </div>
                            </div>
                            <div class="text-item">
                                <div class="airDresser-text">
                                    <h3 class="airDresser-sub-title">3 Step: Heatpump Drying</h3>
                                    <p class="airDresser-desc">Dry at low temperatures without damaging clothes.</p>
                                </div>
                            </div>
                            <div class="text-item">
                                <div class="airDresser-text">
                                    <h3 class="airDresser-sub-title">4 Step: Deodorizing filter</h3>
                                    <p class="airDresser-desc">Removes odor particles with UV LED and eliminates  99% of odors caused by sweat, tobacco, food and dry cleaning*</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-item s-slick">
                            <div id="tab1" class="tab airDresser-vid">
                                <div class="airDresser-content">
                                    <div class="airDresser-visual">
                                        <figure class="airDresser-video">
                                            <video muted playsinline preload="auto" poster="/assets/img/airDresser/step1_jetAir_airHanger_poster.jpg">
                                                <source src="/assets/img/airDresser/step1_jetAir_airHanger.mp4" type="video/mp4">
                                            </video>
                                            <img src="/assets/img/airDresser/step1_jetAir_airHanger_img.jpg" alt="">
                                            <span class="blind">
                        The device’s Air Hanger accessory is shown. Steam is released.
                      </span>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div id="tab2" class="tab">
                                <div class="airDresser-content">
                                    <div class="airDresser-visual">
                                        <figure class="airDresser-video">
                                            <video muted playsinline preload="auto" poster="/assets/img/airDresser/step2_jetSteam_poster.jpg">
                                                <source src="/assets/img/airDresser/step2_jetSteam.mp4" type="video/mp4">
                                            </video>
                                            <img src="/assets/img/airDresser/step2_jetSteam_img.jpg" alt="">
                                            <span class="blind">
                         The Steam flows upwards from the bottom of the AirDresser. And steam removes bacteria
                      </span>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div id="tab3" class="tab">
                                <div class="airDresser-content">
                                    <div class="airDresser-visual">
                                        <figure class="airDresser-video">
                                            <video muted playsinline preload="auto" poster="/assets/img/airDresser/step3_heatpump_drying_poster.jpg">
                                                <source src="/assets/img/airDresser/step3_heatpump_drying_1.mp4" type="video/mp4">
                                            </video>
                                            <img src="/assets/img/airDresser/step3_heatpump_drying_img.jpg" alt="">
                                            <span class="blind">
                          A white shirt is shown hanging from the Air Hanger, while steam envelops the garment from all sides. The clothes on the Air Hanger change – the white shirt disappears and is replaced by a black jacket and a pink dress.
                      </span>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div id="tab4" class="tab">
                                <div class="airDresser-content">
                                    <div class="airDresser-visual">
                                        <figure class="airDresser-video">
                                            <video muted playsinline preload="auto" poster="/assets/img/airDresser/step4_deodorizing_filter_poster.jpg">
                                                <source src="/assets/img/airDresser/step4_deodorizing_filter.mp4" type="video/mp4">
                                            </video>
                                            <img src="/assets/img/airDresser/step4_deodorizing_filter_img.jpg" alt="">
                                            <span class="blind">
                          The steam inside the device removes the germs and bacteria from the black jacket and pink dress.The black jacket, white shirt and pink dress are shown hanging inside the AirDresser, and the door of the AirDresser device closes.
                      </span>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-cont">
                            <div class="btn-dots"></div>
                        </div>
                        <div class="tab-inner-text">
                            <div class="text-item">
                                <div class="airDresser-text">
                                    <span class="airDresser-disc"></span>
                                </div>
                            </div>
                            <div class="text-item">
                                <div class="airDresser-text">
                          <span class="airDresser-disc">
                              * Eliminates: 1) 99.9% of 4 viruses (Adenovirus, Influenza, Corona Virus and Herpesvirus) based on testing by the Korea Univ. lab. 2) 100% of house mites, based on testing by Intertek / BAF certification using a Sterilization course for 112 minutes. 3) 99% of odor causing gases (Iso-Valeric acid: sweat, 4-Ethenyl pyridine: tobacco, Valeraldehyde: food eg. from grilled meat, and Tetrachloroethylene: dry cleaning) based on testing by Intertek using a Normal course. 4) 99% of harmful substances (Perchloroethylene) based on testing by Intertek using a Normal course. Individual results may vary depending on the actual usage situation.
                          </span>
                                </div>
                            </div>
                            <div class="text-item">
                                <div class="airDresser-text">
                                    <span class="airDresser-disc"></span>
                                </div>
                            </div>
                            <div class="text-item">
                                <div class="airDresser-text">
                          <span class="airDresser-disc">
                              * Based on testing by Intertek using a Normal course: Iso-Valeric acid: sweat, 4-Ethenyl pyridine: tobacco, Valeraldehyde: food eg. from grilled meat, and Tetrachloroethylene: dry cleaning. Testing for Iso-Valeric acid and 4-Ethenyl pyridine based on KS K0891 Standard. Individual results may vary depending on the actual usage situation.
                          </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="product" class="airDresser-section choose-item">
                <div class="airDresser-text">
                    <h2 class="airDresser-title">Explore AirDresser</h2>
                </div>
                <div class="airDresser-content">
                    <div class="airDresser-content-inner">
                        <div class="choose-airDresser">
                            <div class="learn-more-list">
                                <div class="list-inner">
                                    <div class="airDresser-text">
                                        <h3 class="airDresser-sub-title">AirDresser<br> <span>Crystal Mirror</span></h3>
                                    </div>
                                    <div class="airDresser-thumb">
                                        <figure class="airDresser-img">
                                            <img src="/assets/img/airDresser/airDresser_crystal-mirror.jpg"
                                                 data-src-pc="/assets/img/airDresser/airDresser_crystal-mirror.jpg"
                                                 data-src-mobile="/assets/img/airDresser/airDresser_crystal-mirror.jpg"
                                                 alt="AirDresser Crystal Mirror">
                                        </figure>
                                    </div>
                                    <div class="btn-default">
                                        <a href="" title="AirDresser Crystal Mirror - Product details page"><span>SHOP NOW</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- //  body content  -->
    </div>
</div>

<script type="text/javascript" src="/assets/lib/jquery/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/assets/lib/slick/slick-1.8.1/slick.min.js"></script>
<script type="text/javascript" src="/assets/js/airDresser.js"></script>