<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>BESPOKE｜SAMSUNG</title>
<!--https://cdn.samsung.com/etc/designs/smg/global/templates/page.css-->
<link rel="stylesheet" type="text/css" href="/assets/css/default.css">
<!--<link rel="stylesheet" type="text/css" href="/assets/css/page.css">-->
  <link rel="stylesheet" href="//cdn.samsung.com/etc/designs/smg/global/templates/page.css" type="text/css">
  <link rel="stylesheet" href="//cdn.samsung.com/etc/designs/smg/global/templates/s-page-static-common.css" type="text/css">
  <link rel="stylesheet" href="//cdn.samsung.com/etc/designs/smg/global/templates/page-etc-none-lnb.css" type="text/css">
  <link rel="stylesheet" href="//cdn.samsung.com/etc/designs/smg/global/templates/page-landing.css" type="text/css">
  <link rel="stylesheet" href="//cdn.samsung.com/etc/designs/smg/sec/css/sec.css" type="text/css">
<link rel="stylesheet" type="text/css" href="/assets/css/bespoke.css">

<div class="promo-wrap">
    <!-- kv visual   -->
  <div class="bespoke-about-top bespoke-about-section-wrapper">
    <div class="bespoke-about-keyVisual">
      <div class="bespoke-about-visual">
        <figure class="bespoke-about-video">
          <video autoplay loop muted playsinline class="about-pc-view">
            <source src="/assets/img/bespoke/bespoke_key-visual-video.mp4" type="video/mp4">
          </video>
          <video autoplay loop muted playsinline class="about-mobile-view">
            <source src="/assets/img/bespoke/bespoke_key-visual-video_s.mp4" type="video/mp4">
          </video>
          <img src="/assets/img/bespoke/bespoke_about_key-visual_img.jpg"
               data-src-pc="/assets/img/bespoke/bespoke_about_key-visual_img.jpg"
               data-src-mobile="/assets/img/bespoke/bespoke_about_key-visual_img_s.jpg"
               alt="">
        </figure>
      </div>
    </div>
  </div>
  <!-- // kv visual   -->

  <!-- nav -->
  <div class="promo-nav">
    <div class="promo-nav-outer">
      <div class="promo-nav-inner">
        <h1 class="promo-logo"><a href="//www.samsung.com/sec/bespoke/home/" title="비스포크 홈으로 이동" data-omni-type="microsite" data-omni="sec:bespoke:home"><img src="//images.samsung.com/is/image/samsung/p5/sec/2019_bespoke_hub/img_logo_bispoke.png?$ORIGIN_PNG$" alt="BESPOKE"></a></h1>
      </div>
    </div>
  </div>
  <!-- //nav -->

  <!--  body container  -->
  <div class="bespoke-about-body bespoke-about-section-wrapper">
    <div class="bespoke-about-body-content bespoke-about-intro">
      <div class="bespoke-about-body-content-inner">
        <div class="bespoke-about-text-wrapper">
          <h2 class="bespoke-about-text-huge"><span class="tit"><strong>BE</strong>SPOKE</span><span class="br">Refrigerator</span></h2>
          <p class="bespoke-about-text-large">A new name of Samsung’s<br> innovative appliance that<br> allows you to customize type,<br> color and material</p>
        </div>
        <div class="bespoke-about-img-wrapper">
          <div class="bespoke-about-img-inner">
            <figure class="bespoke-about-img">
              <img src="/assets/img/bespoke/bespoke_about_intro_img.png"
                   data-src-pc="/assets/img/bespoke/bespoke_about_intro_img.png"
                   data-src-mobile="/assets/img/bespoke/bespoke_about_intro_img_s.png"
                   alt="">
            </figure>
          </div>
        </div>
      </div>
      <div class="bespoke-about-motion-wrapper about-motion-intro">
        <div class="bespoke-about-motion-inner">
          <div class="bespoke-about-motion-slide">
            <span class="top">
              <img src="/assets/img/bespoke/bespoke_about_key-visual_bg1.png"
                   data-src-pc="/assets/img/bespoke/bespoke_about_key-visual_bg1.png"
                   data-src-mobile="/assets/img/bespoke/bespoke_about_key-visual_bg1_s.png"
                   alt="">
            </span>
            <span class="bottom">
              <img src="/assets/img/bespoke/bespoke_about_key-visual_bg2.png"
                   data-src-pc="/assets/img/bespoke/bespoke_about_key-visual_bg2.png"
                   data-src-mobile="/assets/img/bespoke/bespoke_about_key-visual_bg2_s.png"
                   alt="">
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="bespoke-about-body-content bespoke-about-module">
      <div class="bespoke-about-body-content-inner content-inner-pad">
        <div class="bespoke-about-text-wrapper">
          <h2 class="bespoke-about-text-big">Customize just the way you want</h2>
          <span class="bespoke-about-text-middle">Customized Module</span>
        </div>
        <div class="bespoke-about-img-wrapper">
          <div class="bespoke-about-img-inner">
            <div class="bespoke-about-slide-wrapper">
              <div class="bespoke-about-slide-arrows">
              </div>
              <div class="bespoke-about-slide-inner">
                <div class="bespoke-about-slide">
                  <figure class="bespoke-about-img">
                    <img src="/assets/img/bespoke/bespoke_about_module_img1.jpg"
                         data-src-pc="/assets/img/bespoke/bespoke_about_module_img1.jpg"
                         data-src-mobile="/assets/img/bespoke/bespoke_about_module_img1_s.jpg"
                         alt="">
                  </figure>
                </div>
                <div class="bespoke-about-slide">
                  <figure class="bespoke-about-img">
                    <img src="/assets/img/bespoke/bespoke_about_module_img2.jpg"
                         data-src-pc="/assets/img/bespoke/bespoke_about_module_img2.jpg"
                         data-src-mobile="/assets/img/bespoke/bespoke_about_module_img2_s.jpg"
                         alt="">
                  </figure>
                </div>
                <div class="bespoke-about-slide">
                  <figure class="bespoke-about-img">
                    <img src="/assets/img/bespoke/bespoke_about_module_img3.jpg"
                         data-src-pc="/assets/img/bespoke/bespoke_about_module_img3.jpg"
                         data-src-mobile="/assets/img/bespoke/bespoke_about_module_img3_s.jpg"
                         alt="">
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bespoke-about-body-content bespoke-about-design">
      <div class="bespoke-about-body-content-inner content-inner-pad">
        <div class="bespoke-about-text-wrapper">
          <h2 class="bespoke-about-text-big">Design it <br>however you <br>want</h2>
          <span class="bespoke-about-text-middle">Customized Design</span>
        </div>
        <div class="bespoke-about-img-wrapper">
          <div class="bespoke-about-img-inner">
            <div class="bespoke-about-slide-wrapper about-slide-thumb-wrapper">
              <div class="bespoke-about-slide-inner bespoke-about-thumb-main">
                <div class="bespoke-about-slide">
                  <figure class="bespoke-about-img">
                    <img src="/assets/img/bespoke/bespoke_about_design_img1.jpg"
                         data-src-pc="/assets/img/bespoke/bespoke_about_design_img1.jpg"
                         data-src-mobile="/assets/img/bespoke/bespoke_about_design_img1_s.jpg"
                         alt="">
                  </figure>
                </div>
                <div class="bespoke-about-slide">
                  <figure class="bespoke-about-img">
                    <img src="/assets/img/bespoke/bespoke_about_design_img2.jpg"
                         data-src-pc="/assets/img/bespoke/bespoke_about_design_img2.jpg"
                         data-src-mobile="/assets/img/bespoke/bespoke_about_design_img2_s.jpg"
                         alt="">
                  </figure>
                </div>
                <div class="bespoke-about-slide">
                  <figure class="bespoke-about-img">
                    <img src="/assets/img/bespoke/bespoke_about_design_img3.jpg"
                         data-src-pc="/assets/img/bespoke/bespoke_about_design_img3.jpg"
                         data-src-mobile="/assets/img/bespoke/bespoke_about_design_img3_s.jpg"
                         alt="">
                  </figure>
                </div>
              </div>
              <div class="bespoke-about-thumb-wrapper">
                <div class="bespoke-about-slide-inner bespoke-about-thumb bespoke-about-thumb-big">
                  <div class="bespoke-about-slide">
                    <figure class="bespoke-about-img">
                      <img src="/assets/img/bespoke/bespoke_about_design_img-thumb-big1.png"
                           data-src-pc="/assets/img/bespoke/bespoke_about_design_img-thumb-big1.png"
                           data-src-mobile="/assets/img/bespoke/bespoke_about_design_img-thumb-big1_s.png"
                           alt="">
                    </figure>
                  </div>
                  <div class="bespoke-about-slide">
                    <figure class="bespoke-about-img">
                      <img src="/assets/img/bespoke/bespoke_about_design_img-thumb-big2.png"
                           data-src-pc="/assets/img/bespoke/bespoke_about_design_img-thumb-big2.png"
                           data-src-mobile="/assets/img/bespoke/bespoke_about_design_img-thumb-big2_s.png"
                           alt="">
                    </figure>
                  </div>
                  <div class="bespoke-about-slide">
                    <figure class="bespoke-about-img">
                      <img src="/assets/img/bespoke/bespoke_about_design_img-thumb-big3.png"
                           data-src-pc="/assets/img/bespoke/bespoke_about_design_img-thumb-big3.png"
                           data-src-mobile="/assets/img/bespoke/bespoke_about_design_img-thumb-big3_s.png"
                           alt="">
                    </figure>
                  </div>
                </div>
                <div class="bespoke-about-slide-inner bespoke-about-thumb bespoke-about-thumb-small about-thumb-small-1">
                  <div class="bespoke-about-slide">
                    <figure class="bespoke-about-img">
                      <img src="/assets/img/bespoke/bespoke_about_design_img-thumb-small1-1.png"
                           data-src-pc="/assets/img/bespoke/bespoke_about_design_img-thumb-small1-1.png"
                           data-src-mobile="/assets/img/bespoke/bespoke_about_design_img-thumb-small1-1_s.png"
                           alt="">
                    </figure>
                  </div>
                  <div class="bespoke-about-slide">
                    <figure class="bespoke-about-img">
                      <img src="/assets/img/bespoke/bespoke_about_design_img-thumb-small1-2.png"
                           data-src-pc="/assets/img/bespoke/bespoke_about_design_img-thumb-small1-2.png"
                           data-src-mobile="/assets/img/bespoke/bespoke_about_design_img-thumb-small1-2_s.png"
                           alt="">
                    </figure>
                  </div>
                  <div class="bespoke-about-slide">
                    <figure class="bespoke-about-img">
                      <img src="/assets/img/bespoke/bespoke_about_design_img-thumb-small1-3.png"
                           data-src-pc="/assets/img/bespoke/bespoke_about_design_img-thumb-small1-3.png"
                           data-src-mobile="/assets/img/bespoke/bespoke_about_design_img-thumb-small1-3_s.png"
                           alt="">
                    </figure>
                  </div>
                </div>
                <div class="bespoke-about-slide-inner bespoke-about-thumb bespoke-about-thumb-small about-thumb-small-2">
                  <div class="bespoke-about-slide">
                    <figure class="bespoke-about-img">
                      <img src="/assets/img/bespoke/bespoke_about_design_img-thumb-small2-1.png"
                           data-src-pc="/assets/img/bespoke/bespoke_about_design_img-thumb-small2-1.png"
                           data-src-mobile="/assets/img/bespoke/bespoke_about_design_img-thumb-small2-1_s.png"
                           alt="">
                    </figure>
                  </div>
                  <div class="bespoke-about-slide">
                    <figure class="bespoke-about-img">
                      <img src="/assets/img/bespoke/bespoke_about_design_img-thumb-small2-2.png"
                           data-src-pc="/assets/img/bespoke/bespoke_about_design_img-thumb-small2-2.png"
                           data-src-mobile="/assets/img/bespoke/bespoke_about_design_img-thumb-small2-2_s.png"
                           alt="">
                    </figure>
                  </div>
                  <div class="bespoke-about-slide">
                    <figure class="bespoke-about-img">
                      <img src="/assets/img/bespoke/bespoke_about_design_img-thumb-small2-3.png"
                           data-src-pc="/assets/img/bespoke/bespoke_about_design_img-thumb-small2-3.png"
                           data-src-mobile="/assets/img/bespoke/bespoke_about_design_img-thumb-small2-3_s.png"
                           alt="">
                    </figure>
                  </div>
                </div>
                <div class="bespoke-about-slide-inner bespoke-about-thumb bespoke-about-thumb-small about-thumb-small-3">
                  <div class="bespoke-about-slide">
                    <figure class="bespoke-about-img">
                      <img src="/assets/img/bespoke/bespoke_about_design_img-thumb-small3-1.png"
                           data-src-pc="/assets/img/bespoke/bespoke_about_design_img-thumb-small3-1.png"
                           data-src-mobile="/assets/img/bespoke/bespoke_about_design_img-thumb-small3-1_s.png"
                           alt="">
                    </figure>
                  </div>
                  <div class="bespoke-about-slide">
                    <figure class="bespoke-about-img">
                      <img src="/assets/img/bespoke/bespoke_about_design_img-thumb-small3-2.png"
                           data-src-pc="/assets/img/bespoke/bespoke_about_design_img-thumb-small3-2.png"
                           data-src-mobile="/assets/img/bespoke/bespoke_about_design_img-thumb-small3-2_s.png"
                           alt="">
                    </figure>
                  </div>
                  <div class="bespoke-about-slide">
                    <figure class="bespoke-about-img about-img-null">
                      <img src="/assets/img/bespoke/bespoke_about_design_img-thumb-small-null.png" alt="">
                    </figure>
                  </div>
                </div>
                <div class="bespoke-about-slide-inner bespoke-about-thumb bespoke-about-thumb-small about-thumb-small-4">
                  <div class="bespoke-about-slide">
                    <figure class="bespoke-about-img">
                      <img src="/assets/img/bespoke/bespoke_about_design_img-thumb-small4-1.png"
                           data-src-pc="/assets/img/bespoke/bespoke_about_design_img-thumb-small4-1.png"
                           data-src-mobile="/assets/img/bespoke/bespoke_about_design_img-thumb-small4-1_s.png"
                           alt="">
                    </figure>
                  </div>
                  <div class="bespoke-about-slide">
                    <figure class="bespoke-about-img about-img-null">
                      <img src="/assets/img/bespoke/bespoke_about_design_img-thumb-small-null.png" alt="">
                    </figure>
                  </div>
                </div>

                <div class="bespoke-about-slide-inner bespoke-about-thumb bespoke-about-thumb-small-box">
                  <div class="bespoke-about-slide">
                    <figure class="bespoke-about-img">
                      <img src="/assets/img/bespoke/bespoke_about_design_img-thumb-small-box1.png" alt="">
                    </figure>
                  </div>
                  <div class="bespoke-about-slide">
                    <figure class="bespoke-about-img">
                      <img src="/assets/img/bespoke/bespoke_about_design_img-thumb-small-box2.png" alt="">
                    </figure>
                  </div>
                  <div class="bespoke-about-slide">
                    <figure class="bespoke-about-img">
                      <img src="/assets/img/bespoke/bespoke_about_design_img-thumb-small-box3.png" alt="">
                    </figure>
                  </div>
                </div>
                <p
                        class="bespoke-about-text-large about-text-small-ol"
                        data-ol-text1="Comfort with soft and delicate glass"
                        data-ol-text2="Warmth added with the process of baking"
                        data-ol-text3="Brightness that light up the space"
                >Comfort with soft and delicate glass</p>
              </div>
              <div class="bespoke-about-slide-arrows">
                <div class="bespoke-about-slide-count"><span>1</span>/3</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bespoke-about-body-content bespoke-about-fit">
      <div class="bespoke-about-body-content-inner content-inner-pad">
        <div class="bespoke-about-text-wrapper">
          <h2 class="bespoke-about-text-big">Tailored for your kitchen</h2>
          <span class="bespoke-about-text-middle">Customized Fit</span>
        </div>
        <div class="bespoke-about-img-wrapper">
          <div class="bespoke-about-img-inner">
            <figure class="bespoke-about-video">
              <video muted playsinline>
                <source src="/assets/img/bespoke/bespoke_about_fit_video.mp4" type="video/mp4">
              </video>
              <img src="/assets/img/bespoke/bespoke_about_fit_img.jpg"
                   data-src-pc="/assets/img/bespoke/bespoke_about_fit_img.jpg"
                   data-src-mobile="/assets/img/bespoke/bespoke_about_fit_img_s.jpg"
                   alt="">
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="bespoke-about-body-content bespoke-about-media">
      <div class="bespoke-about-body-content-inner content-inner-pad">
        <div class="bespoke-about-video-wrapper">
          <div class="bespoke-about-video-inner">
            <figure class="bespoke-about-video">
              <div class="bespoke-about-video-player about-video-player1">
                <img src="/assets/img/bespoke/bespoke_about_youtube_img.jpg"
                     data-src-pc="/assets/img/bespoke/bespoke_about_youtube_img.jpg"
                     data-src-mobile="/assets/img/bespoke/bespoke_about_youtube_img_s.jpg"
                     alt="">
                <a href="#none">play</a>
              </div>
              <iframe width="1130" height="686" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="bespoke-about-body-content bespoke-about-btn-wrapper">
      <div class="bespoke-about-body-content-inner">
        <div class="bespoke-about-btn-inner">
          <a href="javascript: history.back();" class="bespoke-about-btn about-btn-black" data-omni-type="" data-omni=""><span>Back to Previous Page</span></a>
        </div>
      </div>
    </div>
  </div>
  <!-- //  body container  -->
</div>


<script type="text/javascript" src="/assets/lib/jquery/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/assets/lib/slick/slick-1.8.1/slick.min.js"></script>
  <script type="text/javascript" src="//cdn.samsung.com/etc/designs/smg/global/templates/page.js"></script>

<script type="text/javascript" src="/assets/js/bespoke.js"></script>