<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>HMD Odyssey</title>
<link rel="stylesheet" type="text/css" href="/assets/css/default.css">
<link rel="stylesheet" type="text/css" href="http://cdn.samsung.com/etc/designs/smg/global/templates/page.css">
<link rel="stylesheet" type="text/css" href="http://cdn.samsung.com/etc/designs/smg/global/templates/s-page-static-common.css">
<link rel="stylesheet" type="text/css" href="http://cdn.samsung.com/etc/designs/smg/global/templates/page-etc-none-lnb.css">
<link rel="stylesheet" type="text/css" href="http://cdn.samsung.com/etc/designs/smg/global/templates/page-landing.css">
<link rel="stylesheet" type="text/css" href="/assets/css/ecoBubble.css">
<!--[if lte IE 8]>
<script src="http://www.samsung.com/common/next/js/lib/html5shiv.js"></script>
<![endif]-->

<div class="ecoBubble-wrapper">
    <div class="ecoBubble-container">

        <!-- kv visual   -->
        <div class="ecoBubble-top">
            <section class="ecoBubble-section key-visual">
                <div class="ecoBubble-content">
                    <div class="ecoBubble-visual">
                        <figure class="ecoBubble-video">
                            <video autoplay loop muted playsinline preload="auto" tabindex="1">
                                <source src="/assets/img/ecoBubble/key_visual.mp4" type="video/mp4">
                            </video>
                            <img src="/assets/img/ecoBubble/key_visual_img.jpg" alt="">
                            <span class="blind">
                A brown bear walks into a house. The bear picks up a honeycomb, which it then proceeds to eat, dripping honey all over itself as it does so. The honey has dripped onto its hair, leaving it sticky and messy. The bear strips down to its underwear, removing its thick coat of hair. It then puts its coat into the washing machine, and turns the machine on.
                Bubbles form inside the washing machine and move into the device’s drum.
                The bear then takes its underwear off, opens the machine’s AddDoor while the machine is operating, and puts this extra item into the wash.
                Inside the washing machine, bubbles move in between the laundry items. Powerful jets of water remove the ingrained dirt in the clothes and fur. The hair on the bear’s coat is blown gently.
                The bear opens the washing machine and pulls out its coat of hair, which has been washed white – as it is in fact not a brown bear at all, but a polar bear whose coat had been badly stained!
                Samsung
              </span>
                            <div class="sound-cont">
                                <div class="btn-sound">
                                    <button>
                                        <span class="blind">Sound<em class="blind">on</em></span>
                                        <i class="on"></i>
                                    </button>
                                    <div class="effect">
                                        <i class="on">
                                            <span class="phase phase_1"></span>
                                            <span class="phase phase_2"></span>
                                        </i>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
            </section>
        </div>
        <!-- // kv visual   -->

        <!--  body content  -->
        <div class="ecoBubble-body">
            <section id="ecoBubble" class="ecoBubble-section about-ecoBubble">
                <div class="ecoBubble-text">
                    <h2 class="ecoBubble-title">Fights stains. Protects fabrics.</h2>
                    <p class="ecoBubble-desc">Honeycombs, one of life’s greatest pleasures. It’s even better when you don’t have to worry about getting your clothes messy. Now, EcoBubble takes care of the stickiest stains, so you can indulge into even more.</p>
                </div>
                <div class="ecoBubble-content">
                    <div class="btn-default">
                        <a href="https://www.samsung.com/ae/washing-machines/all-washing-machines/?ecobubble" title="EcoBubble™ Product finder page"><span>SEE THE RANGE</span></a>
                    </div>
                    <div class="ecoBubble-content-inner">
                        <div class="ecoBubble-text">
                            <h2 class="ecoBubble-title">EcoBubble™ technology</h2>
                            <p class="ecoBubble-desc">Our unique EcoBubble™ technology mixes air, water and detergent to create soapy bubbles that quickly penetrate each fiber of the fabric for a faster and effective wash.</p>
                        </div>
                        <div class="tab-menus">
                            <ul>
                                <li class="on"><a href="#tab1" title="Tab 1: selected">Thorough<br> Clean</a></li>
                                <li><a href="#tab2" title="Tab 2">Energy<br> Saving</a></li>
                                <li><a href="#tab3" title="Tab 3">Fabric<br> care</a></li>
                            </ul>
                        </div>
                        <div class="tab-inner-text">
                            <div class="text-item">
                                <div class="ecoBubble-text">
                                    <h3 class="ecoBubble-sub-title">Thorough Clean</h3>
                                    <p class="ecoBubble-desc">Give your clothes a thorough wash with our EcoBubble ™ technology. These soapy bubbles quickly penetrate deep into fabrics which effectively removes tough stains*.</p>
                                </div>
                            </div>
                            <div class="text-item">
                                <div class="ecoBubble-text">
                                    <h3 class="ecoBubble-sub-title">A cooler way to save energy</h3>
                                    <p class="ecoBubble-desc">EcoBubble™ cleans clothes thoroughly at cooler water temperatures*. So you save both the environment and your utility bills at the same time.</p>
                                </div>
                            </div>
                            <div class="text-item">
                                <div class="ecoBubble-text">
                                    <h3 class="ecoBubble-sub-title">Gentle on fabric</h3>
                                    <p class="ecoBubble-desc">Keep delicate fabrics looking and feeling like new. The gentle foam not only cleans, but helps reduce wear on fibers during the wash cycle protecting color and texture.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-item s-slick s-slick-theme--dot">
                            <div id="tab1" class="tab ecoBubble-vid">
                                <div class="ecoBubble-content">
                                    <div class="ecoBubble-visual">
                                        <figure class="ecoBubble-video">
                                            <video muted playsinline preload="auto" poster="/assets/img/ecoBubble/thoroughClean_poster.jpg">
                                                <source src="/assets/img/ecoBubble/thoroughClean2.mp4" type="video/mp4">
                                            </video>
                                            <img src="/assets/img/ecoBubble/thoroughClean_img.jpg" alt="">
                                            <span class="blind">
                        Bubbles are made inside the washing machine and then move out into the washing machine drum and bubbles rising up from the drum pattern inside the washing machine and bubbling up into the laundry.
                      </span>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div id="tab2" class="tab">
                                <div class="ecoBubble-content">
                                    <div class="ecoBubble-visual">
                                        <figure class="ecoBubble-video">
                                            <video muted playsinline preload="auto" poster="/assets/img/ecoBubble/aCoolerWayToSaveEnergy_poster.jpg">
                                                <source src="/assets/img/ecoBubble/aCoolerWayToSaveEnergy2.mp4" type="video/mp4">
                                            </video>
                                            <img src="/assets/img/ecoBubble/aCoolerWayToSaveEnergy_img.jpg" alt="">
                                            <span class="blind">
                        Bubbles being made inside the washing machine and moving out into the washing machine drum. The device removes ingrained dirt from laundry.
                      </span>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div id="tab3" class="tab">
                                <div class="ecoBubble-content">
                                    <div class="ecoBubble-visual">
                                        <figure class="ecoBubble-video">
                                            <video muted playsinline preload="auto" poster="/assets/img/ecoBubble/gentleOnFabric_poster.jpg">
                                                <source src="/assets/img/ecoBubble/gentleOnFabric2.mp4" type="video/mp4">
                                            </video>
                                            <img src="/assets/img/ecoBubble/gentleOnFabric_img.jpg" alt="">
                                            <span class="blind">
                        Bubbles clean clothes and protect the fibers from damage.
                      </span>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-cont">
                            <div class="btn-dots"></div>
                        </div>
                        <div class="tab-inner-text">
                            <div class="text-item">
                                <div class="ecoBubble-text">
                                    <span class="ecoBubble-disc">* Tested in accordance with IEC 60456-2010 / 4kg Wash Load / Super Eco Wash cold (WF80F5E5U4W) vs. Cotton 40°C without Eco Bubble (WF0702WKU). Individual results may vary.</span>
                                </div>
                            </div>
                            <div class="text-item">
                                <div class="ecoBubble-text">
                                    <span class="ecoBubble-disc">* Based on the Performance Lab Test report by Springboard Engineering on EMPA strips, comparing a normal detergent solution and bubble technology without mechanical action.</span>
                                </div>
                            </div>
                            <div class="text-item">
                                <div class="ecoBubble-text">
                                    <span class="ecoBubble-disc"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="addWash" class="ecoBubble-section about-addWash ecoBubble-vid">
                <div class="ecoBubble-text">
                    <h2 class="ecoBubble-title">Add to the wash<br> during the wash</h2>
                    <p class="ecoBubble-desc">Keep forgetting something while doing laundry? Our innovative AddWash™ door lets you quickly add laundry* in the middle of your wash without restarting the cycle**.</p>
                </div>
                <div class="ecoBubble-content ecoBubble-btn">
                    <div class="ecoBubble-visual">
                        <figure class="ecoBubble-video">
                            <video muted playsinline preload="auto" poster="/assets/img/ecoBubble/addToWashDuringTheWash_poster.jpg">
                                <source src="/assets/img/ecoBubble/addToWashDuringTheWash.mp4" type="video/mp4">
                            </video>
                            <img src="/assets/img/ecoBubble/addToWashDuringTheWash_img.jpg" alt="">
                            <span class="blind">
                A user pushes the device’s Hold to Start button and then opens the device to add a laundry item to the wash while the machine is operating – by opening the AddDoor during the cycle. The user then closes the AddDoor.
              </span>
                        </figure>
                    </div>
                    <div class="btn-default btn-white btn-type-lh">
                        <a href="https://www.samsung.com/ae/washing-machines/all-washing-machines/?ecobubble" title="EcoBubble™ Product finder page">
                            <span><em>Want to learn more?</em> SEE THE RANGE</span>
                        </a>
                    </div>
                </div>
                <span class="ecoBubble-disc">
            * Only fabric items, clothing, detergent and softener can be added. <br>
            ** AddWash™ door only opens only when the drum temperature is below 50°C.
          </span>
            </section>

            <section id="product" class="ecoBubble-section choose-item">
                <div class="ecoBubble-text">
                    <h2 class="ecoBubble-title">Choose your<br> EcoBubble™ Washer</h2>
                </div>
                <div class="ecoBubble-content">
                    <div class="ecoBubble-content-inner">
                        <div class="choose-ecoBubble">
                            <div class="learn-more-list">
                                <div class="list-inner">
                                    <div class="ecoBubble-thumb">
                                        <figure class="ecoBubble-img">
                                            <img src="/assets/img/ecoBubble/WW80K5210UW-EF_001_Front_White.png"
                                                 data-src-pc="/assets/img/ecoBubble/WW80K5210UW-EF_001_Front_White.png"
                                                 data-src-mobile="/assets/img/ecoBubble/WW80K5210UW-EF_001_Front_White_s.png"
                                                 alt="A white AddWash WW12K8412OW/SG washing machine">
                                        </figure>
                                    </div>
                                    <div class="ecoBubble-text">
                                        <p class="ecoBubble-sub-title">AddWash™ Washing Machine</p>
                                    </div>
                                    <div class="btn-default">
                                        <a href="https://www.samsung.com/ae/washing-machines/washer-ww12k8412ow-sg/" title="WW12K8412OW/SG - Product details page"><span>LEARN MORE</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="learn-more-list">
                                <div class="list-inner">
                                    <div class="ecoBubble-thumb">
                                        <figure class="ecoBubble-img">
                                            <img src="/assets/img/ecoBubble/WW10N645RPX-EU_001_Front_Inox.png"
                                                 data-src-pc="/assets/img/ecoBubble/WW10N645RPX-EU_001_Front_Inox.png"
                                                 data-src-mobile="/assets/img/ecoBubble/WW10N645RPX-EU_001_Front_Inox_s.png"
                                                 alt="A black, stainless steel AddWash WW10N64FRPX washing machine">
                                        </figure>
                                    </div>
                                    <div class="ecoBubble-text">
                                        <p class="ecoBubble-sub-title">Large Capacity Washing Machine</p>
                                    </div>
                                    <div class="btn-default">
                                        <a href="https://www.samsung.com/ae/washing-machines/washer-ww10n64frpx/" title="WW10N64FRPX - Product details page"><span>LEARN MORE</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="learn-more-list">
                                <div class="list-inner">
                                    <div class="ecoBubble-thumb">
                                        <figure class="ecoBubble-img">
                                            <img src="/assets/img/ecoBubble/WD90K6414OW-EU_001_Front_White.png"
                                                 data-src-pc="/assets/img/ecoBubble/WD90K6414OW-EU_001_Front_White.png"
                                                 data-src-mobile="/assets/img/ecoBubble/WD90K6414OW-EU_001_Front_White_s.png"
                                                 alt="An AddWash WD10N64FR2X washing machine with white washer and dryer functionality">
                                        </figure>
                                    </div>
                                    <div class="ecoBubble-text">
                                        <p class="ecoBubble-sub-title">AddWash™ Washer Dryer</p>
                                    </div>
                                    <div class="btn-default">
                                        <a href="https://www.samsung.com/ae/washing-machines/washer-wd10n64fr2xgu/" title="WD10N64FR2X - Product details page"><span>LEARN MORE</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="ecoBubble-section banner">
                <div class="ecoBubble-content">
                    <div class="ecoBubble-text">
                        <h3 class="ecoBubble-sub-title">Trade in for up to 20% off <br> Selected EcoBubble™ washer</h3>
                        <div class="btn-default btn-white">
                            <a href="https://www.samsung.com/sec"><span>SEE OFFERS</span></a>
                        </div>
                    </div>
                    <span class="blind">
            A white AddWash WW80K5210UW washing machine
          </span>
                </div>
            </section>
        </div>
        <!-- //  body content  -->
    </div>
</div>

<script type="text/javascript" src="/assets/lib/jquery/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/assets/lib/slick/slick-1.8.1/slick.min.js"></script>
<script type="text/javascript" src="/assets/js/ecoBubble.js"></script>