<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<title>Samsung Notebook Odyssey</title>
<link rel="stylesheet" type="text/css" href="/assets/css/page.css">
<link rel="stylesheet" type="text/css" href="/assets/css/odyssey.css">

<div class="odp5-feature-wrap">
    <div class="odp5-feature01 odp5-pdp-section">
        <div class="odp5-copy-inner">
            <div class="odp5-feature-copy odp5-copy-center">
                <h2 class="odp5-feature-title">Power to Win, built to last.</h2>
                <p class="odp5-feature-desc">
                    Get ready for battle! With a dragon's eye motif, the Samsung Notebook Odyssey provides you perfect assistance for victory  with its top notch performance.
                </p>
            </div>
        </div>
        <div class="odp5-feature-figure figure-section01">
            <figure class="odp5-feature-img odp5-img-static">
                <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature01_01.jpg" alt="" />
            </figure>
            <figure class="odp5-feature-img odp5-img-change">
                <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature01_01_on.png"
                     data-screen-desktop="/assets/img/odyssey/pdp_feature01_01_on.png"
                     data-screen-tablet="/assets/img/odyssey/pdp_feature01_t.jpg"
                     data-screen-mobile="/assets/img/odyssey/pdp_feature01_m.jpg" alt="Get ready for battle! With a dragon's eye motif, the Samsung Notebook Odyssey provides you perfect assistance for victory ― with its top-notch performance." />
            </figure>
        </div>
        <div class="odp5-feature-figure figure-section02">
            <p class="odp5-feature-desc">
                Each part of the Samsung Notebook Odyssey(15.6")'s design is inspired by dragons.
            </p>
            <div class="odp5-figure-thumb clearfix">
                <figure class="odp5-feature-img odp5-static-01">
                    <a href="javascript:;" data-image="0">
                        <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature01_02_thumb1.jpg" alt="An image showing part of the Heatsink and logo on the bottom of a white Samsung Notebook Odyssey device." />
                    </a>
                </figure>
                <figure class="odp5-feature-img odp5-static-02">
                    <a href="javascript:;" data-image="1">
                        <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature01_02_thumb2.jpg" alt="An image showing part of a black Samsung Notebook Odyssey device’s front, with its cover closed" />
                    </a>
                </figure>
                <figure class="odp5-feature-img odp5-static-03">
                    <a href="javascript:;" data-image="2">
                        <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature01_02_thumb3.jpg" alt="A magnified thumbnail image of the Heatsink on the bottom of a black Samsung Notebook Odyssey device." />
                    </a>
                </figure>
                <figure class="odp5-feature-img odp5-static-04">
                    <a href="javascript:;" data-image="3">
                        <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature01_02_thumb4.jpg" alt="A magnified thumbnail image of part of a black Samsung Notebook Odyssey device’s backlit keyboard" />
                    </a>
                </figure>
                <figure class="odp5-feature-img odp5-static-05">
                    <a href="javascript:;" data-image="4">
                        <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature01_02_thumb5.jpg" alt="A magnified image showing a white Samsung Notebook Odyssey device that is partially open" />
                    </a>
                </figure>
            </div>
        </div>
        <div class="odp5-gallery-wrap">
            <div class="odp5-feature-gallery">
                <figure class="odp5-feature-img">
                    <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature01_02_gallery1.jpg"
                         data-screen-desktop="/assets/img/odyssey/pdp_feature01_02_gallery1.jpg"
                         data-screen-tablet="/assets/img/odyssey/pdp_feature01_02_gallery1_t.jpg"
                         data-screen-mobile="/assets/img/odyssey/pdp_feature01_02_gallery1_m.jpg" alt="A magnified image of the Heatsink and logo on the bottom of a white Samsung Notebook Odyssey device." />
                </figure>
                <figure class="odp5-feature-img">
                    <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature01_02_gallery2.jpg"
                         data-screen-desktop="/assets/img/odyssey/pdp_feature01_02_gallery2.jpg"
                         data-screen-tablet="/assets/img/odyssey/pdp_feature01_02_gallery2_t.jpg"
                         data-screen-mobile="/assets/img/odyssey/pdp_feature01_02_gallery2_m.jpg" alt="An image of a black Samsung Notebook Odyssey device’s front with its cover closed" />
                </figure>
                <figure class="odp5-feature-img">
                    <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature01_02_gallery3.jpg"
                         data-screen-desktop="/assets/img/odyssey/pdp_feature01_02_gallery3.jpg"
                         data-screen-tablet="/assets/img/odyssey/pdp_feature01_02_gallery3_t.jpg"
                         data-screen-mobile="/assets/img/odyssey/pdp_feature01_02_gallery3_m.jpg" alt="A magnified image of the Heatsink and logo on the bottom of a black Samsung Notebook Odyssey device." />
                </figure>
                <figure class="odp5-feature-img">
                    <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature01_02_gallery4.jpg"
                         data-screen-desktop="/assets/img/odyssey/pdp_feature01_02_gallery4.jpg"
                         data-screen-tablet="/assets/img/odyssey/pdp_feature01_02_gallery4_t.jpg"
                         data-screen-mobile="/assets/img/odyssey/pdp_feature01_02_gallery4_m.jpg" alt="An image showing a black Samsung Notebook Odyssey device’s backlit keyboard" />
                </figure>
                <figure class="odp5-feature-img">
                    <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature01_02_gallery5.jpg"
                         data-screen-desktop="/assets/img/odyssey/pdp_feature01_02_gallery5.jpg"
                         data-screen-tablet="/assets/img/odyssey/pdp_feature01_02_gallery5_t.jpg"
                         data-screen-mobile="/assets/img/odyssey/pdp_feature01_02_gallery5_m.jpg" alt="A magnified image showing a white Samsung Notebook Odyssey device that is partially open, as well as its logo" />
                </figure>
            </div>
            <div class="gallery-close-btn">
                <p><a href="javascript:;"><img src="/assets/img/odyssey/pdp_image_close_btn.png" alt="An image showing a button that allows site users to close the magnified image view"></a></p>
            </div>
        </div>
        <div class="odp5-feature-figure figure-section03">
            <figure class="odp5-feature-img odp5-img-static">
                <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature01_03.jpg" alt="" />
            </figure>
            <figure class="odp5-feature-img odp5-img-change">
                <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature01_03_on.jpg"
                     data-screen-desktop="/assets/img/odyssey/pdp_feature01_03_on.jpg"
                     data-screen-tablet="/assets/img/odyssey/pdp_feature01_03_t.jpg"
                     data-screen-mobile="/assets/img/odyssey/pdp_feature01_03_m.jpg" alt="An image showing the logo on the Samsung Notebook Odyssey's top illuminates with red light." />
            </figure>
        </div>
    </div>

    <div class="odp5-feature02 odp5-pdp-section">
        <div class="odp5-copy-outer">
            <div class="odp5-feature-copy odp5-copy-center">
                <h2 class="odp5-feature-title">Unparalleled performance</h2>
                <p class="odp5-feature-desc">
                    The Samsung Notebook Odyssey delivers desktop PC-level performance with an Intel 45W Quadcore CPU and an nVidia GTX 1050 40W full performance graphics with built-in GDDR5. Play games and perform other tasks as fast as you would on a desktop PC.
                </p>
            </div>
        </div>
        <div class="odp5-feature-figure">
            <figure class="odp5-feature-img odp5-icon-area">
                <div class="odp5-feature-icon">
                    <img src="/assets/img/odyssey/pdp_feature02_icon01.png" alt="Intel Core i7 7th generation logo">
                    <p>intel 7th kaby Lake i7 45W Quadcore CPU</p>
                </div>
                <div class="odp5-feature-icon">
                    <img src="/assets/img/odyssey/pdp_feature02_icon02.png" alt="Nvidia Geforce GTX Logo">
                    <p>nVidia Geforce GTX 1050 with GDDR5 4GB</p>
                </div>
                <div class="odp5-feature-icon">
                    <img src="/assets/img/odyssey/pdp_feature02_icon03.png" alt="DDR4 Memory icon">
                    <p>Latest DDR4 2 slot<br> Dual channel memory</p>
                </div>
            </figure>
            <figure class="odp5-feature-img">
                <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature02.jpg"
                     data-screen-desktop="/assets/img/odyssey/pdp_feature02.jpg"
                     data-screen-tablet="/assets/img/odyssey/pdp_feature02_t.jpg"
                     data-screen-mobile="/assets/img/odyssey/pdp_feature02_m.jpg" alt="An image of the black Samsung Notebook Odyssey, showing a fantastic-looking dragon coming out of its screen. Also displayed are graphs that compare the results of 3D Mark 11 Benchmark tests of the Samsung Notebook Samsung Notebook Odyssey:7680 with a previous model, the 4415. Below the graphs, the previous mode’s specs can be seen. These read: 6th Generation Intel Core i7 / Nvidia GTX 950M(GDDR 2GB) / DDR3 8GB. In addition, icons for the Intel 7th Keby Lake i7 45W Quadcore CPU, the nVidia Geforce GTX 1050 with GDDR5 4GB, the Latest DDR4 2 slot and dual channel memory are shown." />
            </figure>
        </div>
    </div>
    <div class="odp5-feature03 odp5-pdp-section clearfix">
        <div class="odp5-copy-inner">
            <div class="odp5-feature-copy odp5-copy-center">
                <h2 class="odp5-feature-title">Efficient cooling</h2>
                <ul class="odp5-feature_btn clearfix">
                    <li><a href="javascript:;" data-media="0"><img src="/assets/img/odyssey/pdp_feature03_btn01_on.png" data-on-src="/assets/img/odyssey/pdp_feature03_btn01_on.png" data-off-src="/assets/img/odyssey/pdp_feature03_btn01.png" alt="An image showing a Cooling icon that allows site users to navigate to Cooling feature unit."><p>Cooling</p></a></li>
                    <li><a href="javascript:;" data-media="1"><img src="/assets/img/odyssey/pdp_feature03_btn02.png" data-on-src="/assets/img/odyssey/pdp_feature03_btn02_on.png" data-off-src="/assets/img/odyssey/pdp_feature03_btn02.png" alt="An image showing a Air circulation icon that allows site users to navigate to Air circulation feature unit."><p>Air circulation</p></a></li>
                </ul>
                <p class="odp5-feature-desc">
                    The dragon skin-look Hexagon cooling panel maximizes cooling by absorbing external air into the Samsung Notebook Odyssey’s inner workings through a perforated shell.
                </p>
            </div>
        </div>
        <div class="odp5-feature-figure">
            <figure class="odp5-feature-img">
                <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature03_01.jpg"
                     data-screen-desktop="/assets/img/odyssey/pdp_feature03_01.jpg"
                     data-screen-tablet="/assets/img/odyssey/pdp_feature03_01_t.jpg"
                     data-screen-mobile="/assets/img/odyssey/pdp_feature03_01_m.jpg" alt="An image of an Samsung Notebook Odyssey device’s bottom facing upwards, showing how it absorbs cool air and emits hot air, using arrow graphics"/>
            </figure>
            <figure class="odp5-feature-img">
                <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature03_02.jpg"
                     data-screen-desktop="/assets/img/odyssey/pdp_feature03_02.jpg"
                     data-screen-tablet="/assets/img/odyssey/pdp_feature03_02_t.jpg"
                     data-screen-mobile="/assets/img/odyssey/pdp_feature03_02_m.jpg" alt="An image of an Samsung Notebook Odyssey device’s bottom facing upwards, showing how it absorbs cool air and emits hot air, using arrow graphics" />
            </figure>
        </div>
    </div>
    <div class="odp5-feature04 odp5-pdp-section">
        <div class="odp5-copy-inner">
            <div class="odp5-feature-copy odp5-copy-center">
                <h2 class="odp5-feature-title">Simple upgrade</h2>
                    <p class="odp5-feature-desc">
                        Upgrading the Samsung Notebook Odyssey’s units is a breeze. Just open its Hexagon rear panel to access its SSD slot and two DDR4 memory slots – enjoy easy upgrade options anytime.
                    </p>
            </div>
        </div>
        <div class="odp5-feature-figure">
            <figure class="odp5-feature-vid">
                <video><source src="/assets/img/odyssey/pdp_feature04.mp4" type="video/mp4"></video>
                <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature04.jpg"
                     data-screen-desktop="/assets/img/odyssey/pdp_feature04.jpg"
                     data-screen-tablet="/assets/img/odyssey/pdp_feature04_t.jpg"
                     data-screen-mobile="/assets/img/odyssey/pdp_feature04_m.jpg" alt="A image showing the Heatsink being opened on the Samsung Notebook Odyssey’s bottom" />
                <figcaption>A video showing the Heatsink being opened on the Samsung Notebook Odyssey’s bottom</figcaption>
            </figure>
        </div>
    </div>
    <div class="odp5-feature05 odp5-pdp-section">
        <div class="odp5-feature05-sticky">
            <div class="odp5-copy-outer">
                <div class="odp5-feature-copy odp5-copy-center">
                    <h2 class="odp5-feature-title">Immersive display</h2>
                    <h3 class="odp5-feature-subtitle">Clearer and brighter</h3>
                    <p class="odp5-feature-desc">
                        The Samsung Notebook Odyssey delivers clearer and more vivid images on its Wide Viewing Angle Display. You can enjoy brighter images with a maximum display brightness of 280 nits.
                    </p>
                </div>
            </div>
            <div class="odp5-feature-figure">
                <figure class="odp5-feature-vid">
                    <!--                <video><source src="/assets/img/odyssey/pdp_feature05.mp4" type="video/mp4"></video>-->
                    <!--                <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature05_01.jpg" alt="An image of the Samsung Notebook Odyssey, showing its screen with game">-->
                    <canvas class="odp5-feature-canvas" width="1440" height="610px"></canvas>
                    <figcaption>A video showing a white Samsung Notebook Odyssey device being rotated from the front to the side with its screen displaying gameplay</figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div class="odp5-feature06 odp5-pdp-section">
        <div class="odp5-copy-outer">
            <div class="odp5-feature-copy odp5-copy-center">
                <h2 class="odp5-feature-title">Vivid Video Viewing</h2>
                <h3 class="odp5-feature-subtitle">Experience dynamic motion</h3>
                <p class="odp5-feature-desc">
                    The Samsung Notebook Odyssey(15.6") supports Video HDR, instantly optimizing contrast and color in real-time for a more dynamic viewing experience. Immerse yourself in lifelike movies.
                </p>
            </div>
        </div>
        <div class="odp5-feature-figure">
            <div class="odp5-feature-lifelike section-figure">
                <figure class="odp5-feature-img odp5-feature-standard">
                    <img class="static-frame screen-responsive section-figure-item" src="/assets/img/odyssey/pdp_feature06_01.jpg" alt="" />
                </figure>
                <figure class="odp5-feature-img odp5-feature-overlap">
                    <img class="static-frame screen-responsive section-figure-item" src="/assets/img/odyssey/pdp_feature06_02.jpg" alt="Video HDR is turned on with an image of a female musician and a dragon on a black Samsung Notebook Odyssey screen." />
                </figure>
                <div class="trigger-handler"></div>
            </div>
            <div class="odp5-inner-slide">
                <figure class="odp5-feature-img">
                    <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature06_01_t.png"
                         data-screen-tablet="/assets/img/odyssey/pdp_feature06_01_t.png"
                         data-screen-mobile="/assets/img/odyssey/pdp_feature06_01_m.png" alt="Video HDR is turned off with an image of a female musician and a dragon on a black Samsung Notebook Odyssey screen." />
                </figure>
                <figure class="odp5-feature-img">
                    <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature06_02_t.png"
                         data-screen-tablet="/assets/img/odyssey/pdp_feature06_02_t.png"
                         data-screen-mobile="/assets/img/odyssey/pdp_feature06_02_m.png" alt="Video HDR is turned on with an image of a female musician and a dragon on a black Samsung Notebook Odyssey screen." />
                </figure>
            </div>
        </div>
    </div>
    <div class="odp5-feature07 odp5-pdp-section">
        <div class="odp5-copy-outer">
            <div class="odp5-feature-copy odp5-copy-center">
                <h2 class="odp5-feature-title">Ultimate gaming experience</h2>
                <p class="odp5-feature-desc">
                    Highlighted WASD keys, ergonomically-designed, Crater Keycaps and an adjustable backlit keyboard help you focus on your gaming sessions. Its touch pad features mood lighting to deliver a more vivid, immersive gaming experience.
                </p>
            </div>
        </div>
        <div class="odp5-feature-figure figure-section01">
            <figure class="odp5-feature-img odp5-img-static">
                <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature07_01_01.png" alt="" />
            </figure>
            <figure class="odp5-feature-img odp5-img-pop">
                <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature07_pop.png" alt="" />
            </figure>
            <figure class="odp5-feature-img odp5-img-change">
                <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature07_01_02.png"
                     data-screen-desktop="/assets/img/odyssey/pdp_feature07_01_02.png"
                     data-screen-tablet="/assets/img/odyssey/pdp_feature07_01_t.png"
                     data-screen-mobile="/assets/img/odyssey/pdp_feature07_01_m.png" alt="An image showing the top view of a black Samsung Notebook Odyssey device open, with its screen displaying medieval knights, as well as a curved keycap icon at the bottom right. The image shows that when the screen is scrolled, the keyboard and touchpad light up. Also visible is a magnified image of the keyboard." />
            </figure>
        </div>
        <div class="odp5-feature-figure figure-section02">
            <div class="odp5-feature-copy odp5-copy-center">
                <p class="odp5-feature-desc">
                    While gaming, you can check your PC’s status. You can also record your screen and share it with friends. A simple press of the Fn and F10 keys indicates the FPS of the game you are playing. Also, pressing  the Fn and F11 keys turns your gameplay into a video file.
                </p>
            </div>
            <ul class="odp5-feature_btn clearfix">
                <li><a href="javascript:;"><img src="/assets/img/odyssey/pdp_feature07_btn01_on.png" alt="An image of Fn+F10 key buttons, indicating that a click on the button lets you move to the feature, including PC status checking functionality during gameplay (selected)"><p>Dashboard</p></a></li>
                <li><a href="javascript:;"><img src="/assets/img/odyssey/pdp_feature07_btn02.png" alt="An image of Fn+F11 key buttons, indicating that a click on the button lets you move to the feature - which includes recording functionality - during gameplay(not selected)"><p>Recording</p></a></li>
            </ul>
            <figure class="odp5-feature-img odp5-tab01">
                <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature07_02_01.png"
                     data-screen-desktop="/assets/img/odyssey/pdp_feature07_02_01.png"
                     data-screen-tablet="/assets/img/odyssey/pdp_feature07_02_01_t.png"
                     data-screen-mobile="/assets/img/odyssey/pdp_feature07_02_01_m.png" alt="An image showing 3D gameplay on a white Samsung Notebook Odyssey device with game information" />
            </figure>
            <figure class="odp5-feature-img odp5-tab02">
                <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_feature07_02_02.png"
                     data-screen-desktop="/assets/img/odyssey/pdp_feature07_02_02.png"
                     data-screen-tablet="/assets/img/odyssey/pdp_feature07_02_02_t.png"
                     data-screen-mobile="/assets/img/odyssey/pdp_feature07_02_02_m.png" alt="An image showing fps gameplay on a white Samsung Notebook Odyssey device's screen " />
            </figure>
        </div>
    </div>
    <div class="odp5-sub-feature odp5-pdp-section">
        <div class="odp5-figure-section">
            <div class="odp5-copy-inner">
                <div class="odp5-feature-copy">
                    <h3 class="odp5-sub-title">PC Gallery <img src="/assets/img/odyssey/pdp_sub_icon02.jpg" alt="An image showing a PC Gallery icon"></h3>
                    <p class="odp5-feature-desc">
                        Seamlessly sync your smartphone with your Samsung Notebook Odyssey(15.6"), and with PC Gallery, enjoy easy access to all of your smartphone photos. It lets you auto-backup your photos and sort out them easily by date and location. You can also add tags, as well as edit your images on your PC.
                    </p>
                </div>
            </div>
            <div class="odp5-feature-figure">
                <figure class="odp5-feature-img">
                    <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_sub_feature02.png"
                         data-screen-desktop="/assets/img/odyssey/pdp_sub_feature02.png"
                         data-screen-tablet="/assets/img/odyssey/pdp_sub_feature02_t.png"
                         data-screen-mobile="/assets/img/odyssey/pdp_sub_feature02_m.png" alt='n image showing a smartphone and a Samsung Notebook Odyssey(15.6") device synced wirelessly, with the same thumbnail images on both devices’ screens shared between the devices' />
                </figure>
            </div>
        </div>
        <div class="odp5-figure-section">
            <div class="odp5-copy-inner">
                <div class="odp5-feature-copy">
                    <h3 class="odp5-sub-title">team PL <img src="/assets/img/odyssey/pdp_sub_icon03.jpg" alt="An image showing a team PL icon"></h3>
                    <p class="odp5-feature-desc">
                        With the teamPL feature, share your Samsung Notebook Odyssey(15.6") screen for quick and easy collaboration with co-workers and friends. Share with up to five other people – a perfect solution for intuitive, seamless project collaboration, especially for smaller businesses.
                    </p>
                    <p class="odp5-feature-disclaimer">*The teamPL software name may vary by country.</p>
                </div>
            </div>
            <div class="odp5-feature-figure">
                <figure class="odp5-feature-img">
                    <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_sub_feature02.png"
                         data-screen-desktop="/assets/img/odyssey/pdp_sub_feature03.png"
                         data-screen-tablet="/assets/img/odyssey/pdp_sub_feature03_t.png"
                         data-screen-mobile="/assets/img/odyssey/pdp_sub_feature03_m.png" alt='An image showing the same Excel file open on six silver Samsung Notebook Odyssey(15.6") devices’ screens' />
                </figure>
            </div>
        </div>
        <div class="odp5-figure-section">
            <div class="odp5-copy-inner">
                <div class="odp5-feature-copy">
                    <h3 class="odp5-sub-title">Simple Sharing <img src="/assets/img/odyssey/pdp_sub_icon04.jpg" alt="An image showing a Simple Sharing icon"></h3>
                    <p class="odp5-feature-desc">
                        Share files on your Samsung Notebook Odyssey(15.6") with your smartphone contacts. With a compatible smartphone device, Simple Sharing is fast and intuitive. Share files and entire folders using an app that works in conjunction with Windows 10’s Share feature. Transfer files of up to 2GB(up to 1GB for each file) – on both Windows and Android devices, downloadable for 48 hours.
                    </p>
                </div>
            </div>
            <div class="odp5-feature-figure">
                <figure class="odp5-feature-img">
                    <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_sub_feature04.png"
                         data-screen-desktop="/assets/img/odyssey/pdp_sub_feature04.png"
                         data-screen-tablet="/assets/img/odyssey/pdp_sub_feature04_t.png"
                         data-screen-mobile="/assets/img/odyssey/pdp_sub_feature04_m.png" alt='An image illustrating how a wireless connection is operating between a smartphone and a Samsung Notebook Odyssey(15.6") device, allowing files from the notebook to be shared to and from the phone' />
                </figure>
            </div>
        </div>
        <div class="odp5-figure-section">
            <div class="odp5-copy-inner">
                <div class="odp5-feature-copy">
                    <h3 class="odp5-sub-title">Featuring Windows 10 <img src="/assets/img/odyssey/pdp_sub_icon06.jpg" alt="An image showing a Featuring Windows 10 icon"></h3>
                    <p class="odp5-feature-desc">
                        The Samsung Notebook Odyssey(15.6") pro features the Windows 10, for more powerful, easier-to-use operation, as well as the ultra-fast Microsoft Edge browser. A range of other useful, performance-boosting apps can also be found on the Windows Store.
                    </p>
                </div>
            </div>
            <div class="odp5-feature-figure">
                <figure class="odp5-feature-img">
                    <img class="static-frame screen-responsive" src="/assets/img/odyssey/pdp_sub_feature06.png"
                         data-screen-desktop="/assets/img/odyssey/pdp_sub_feature06.png"
                         data-screen-tablet="/assets/img/odyssey/pdp_sub_feature06_t.png"
                         data-screen-mobile="/assets/img/odyssey/pdp_sub_feature06_m.png" alt='An image showing a silver Samsung Notebook Odyssey(15.6") device’s screen with Windows 10 GUI on its display, and its cover open' />
                </figure>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/lib/jquery/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/assets/lib/slick/slick-1.8.1/slick.min.js"></script>
<script type="text/javascript" src="/assets/js/odyssey.js"></script>