
<div class="pdp-ww8800-wrapper">
    <section class="pdp-feature-01 pdp-ww8800-section">
        <div class="pdp-text-area">
            <div class="feature-copy">
                <h2 class="feature-title">Half the wash time,* Double the lifestyle</h2>
            </div>
        </div>
        <div class="pdp-feature-area">
            <figure class="feature-img static-img layer-img1">
                <img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_1_obj.png"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_1_obj.png"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_1_obj_t.png"
                     data-screen-mobile="/assets/img/ww8800/pdp_feature_1_obj_m.png" alt="" />
            </figure>
            <figure class="feature-img dynamic-img layer-img2">
                <img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_1_mask.png"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_1_mask.png"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_1_mask_t.png"
                     data-screen-mobile="/assets/img/ww8800/pdp_feature_1_mask_m.png" alt="" />
            </figure>
            <figure class="feature-img static-img layer-img3">
                <img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_1.jpg"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_1.jpg"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_1_t.jpg"
                     data-screen-mobile="/assets/img/ww8800/pdp_feature_1_m.jpg" alt='An image showing a QuickDrive device installed in an indoor setting, with text that reads  "Half the Time" and "No Compromise on Washing Performance.' />
            </figure>
            <span class="feature-mask">
                <span class="mask-obj"></span>
                <span class="graph-obj"></span>
            </span>
            <span class="feature-txt">Half the Time, No Compromise on Washing Performance</span>
        </div>
        <div class="pdp-logo-area clearfix">
            <ul>
                <li class="feature-logo-1">Washing performance & Energy Efficiency</li>
                <li class="feature-logo-2">Gentle Fabric Care</li>
                <li class="feature-logo-3">Durability & Reliability</li>
            </ul>
        </div>
        <p class="feature-disclaimer-outer">
            * Tested on WW8800M compared with Samsung WW8500K. Saves 50% time on Cotton (40℃, half load) and eCotton cycle with washing performance within ±2%. Saves 20% energy on Cotton (40℃, half load) and Super Speed cycle (40℃, 5kg load), based on Intertek data. <br>
            * Durability confirmed (or verified) by Rostest <br>
            * Up to 50% cycle time reduction without compromising on fabric care, as verified by Hohenstein <br>
            * 10 years durability confirmed (or certified) by SLG
        </p>
    </section>
    <section class="pdp-feature-02 pdp-ww8800-section">
        <div class="pdp-text-area">
            <div class="feature-copy">
                <h2 class="feature-title">Half the wash time*</h2>
                <h3 class="feature-sub-title">Half the wash time, twice the time for you</h3>
                <p class="feature-description">
                    QuickDrive™ reduces the washing time by up to 50%* and energy use by 20%*, without compromising the cleaning
                    performance. Its unique ‘Q-Drum™’ has a ‘main drum’ and a ‘back plate’ that rotate independently, ensuring clothes move
                    dynamically and are washed quickly, efficiently and gently.*
                </p>
            </div>
        </div>
        <div class="pdp-feature-area">
            <figure class="feature-vid">
                <video src="/assets/img/ww8800/pdp_feature_2-vid.mp4" id="feature_2-video" playsinline muted></video>
                <img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_2-novid.jpg"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_2-novid.jpg"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_2_t.jpg"
                     data-screen-mobile="/assets/img/ww8800/pdp_feature_2_m.jpg" alt="An image showing the QuickDrive device's drum, displaying its key features:  the Q-Drum, its drum and its backplate with three blades. This shows how the QuickDrive device controls the flow of the water inside the drum.">
                <figcaption>
                    An image showing the QuickDrive device's drum, displaying its key features:  the Q-Drum, its drum and its backplate with three blades. This shows how the QuickDrive device controls the flow of the water inside the drum.
                </figcaption>
            </figure>
            <!--<figure class="feature-img static-img">-->
            <!--<img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_2.png"-->
            <!--data-screen-desktop="/assets/img/ww8800/pdp_feature_2.png"-->
            <!--data-screen-tablet="/assets/img/ww8800/pdp_feature_2_t.png"-->
            <!--data-screen-mobile="/assets/img/ww8800/pdp_feature_2_m.jpg" alt="" />-->
            <!--</figure>-->
            <!--<figure class="feature-img dynamic-img">-->
            <!--<img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_2_obj.png"-->
            <!--data-screen-desktop="/assets/img/ww8800/pdp_feature_2_obj.png"-->
            <!--data-screen-tablet="/assets/img/ww8800/pdp_feature_2_obj_t.png"-->
            <!--data-screen-mobile="/assets/img/ww8800/pdp_feature_2_obj_m.png" alt="" />-->
            <!--</figure>-->
            <!--<span class="feature-mask">-->
            <!--<span class="top-mask">-->
            <!--<span class="mask-1"></span>-->
            <!--<span class="mask-2"></span>-->
            <!--</span>-->
            <!--<span class="bottom-mask">-->
            <!--<span class="mask-3"></span>-->
            <!--<span class="mask-4"></span>-->
            <!--</span>-->
            <!--</span>-->
        </div>
        <p class="feature-disclaimer-outer">
            * Tested on WW8800M compared with Samsung conventional WW8500K. Saves 50% time on Cotton 40℃ half load and eCotton courses and 20% energy on Cotton 40℃ half load, Super Speed 40℃ 5kg and course based on Intertek test data.
        </p>
        <!--<div class="open-layer">-->
        <!--<button>-->
        <!--<span class="arrow-wrapper">-->
        <!--<span class="arrows arrow-left"></span>-->
        <!--<span class="arrows arrow-right"></span>-->
        <!--</span>-->
        <!--</button>-->
        <!--</div>-->
        <!--<div class="layer-wrapper">-->
        <!--<p class="feature-description">-->
        <!--Conventional drum washers rotate gently, dropping the clothes repeatedly. QuickDrive™’s unique ‘Q-Drum™’ consists of a ‘main drum’ and a ‘back plate’ that rotate independently, in the same or opposite direction, ensuring clothes move dynamically around the drum in multiple directions. So it washes quickly, powerfully, efficiently and gently.*-->
        <!--</p>-->
        <!--<figure class="feature-vid1 static-vid">-->
        <!--<video src="/assets/img/ww8800/pdp_feature_2-vid1.mp4" id="feature_2-video-1"></video>-->
        <!--<div class="vid-ctrl-wrapper">-->
        <!--<button class="play-btn-1"></button>-->
        <!--<button class="pause-btn-1"></button>-->
        <!--</div>-->
        <!--<figcaption></figcaption>-->
        <!--</figure>-->
        <!--<figure class="feature-vid2 static-vid hide">-->
        <!--<video src="/assets/img/ww8800/pdp_feature_2-vid2.mp4" id="feature_2-video-2"></video>-->
        <!--<div class="vid-ctrl-wrapper">-->
        <!--<button class="play-btn-2"></button>-->
        <!--<button class="pause-btn-2"></button>-->
        <!--</div>-->
        <!--<figcaption></figcaption>-->
        <!--</figure>-->
        <!--<div class="vid-btn-wrapper">-->
        <!--<button class="vid-btn-1 on"></button>-->
        <!--<button class="vid-btn-2"></button>-->
        <!--</div>-->
        <!--</div>-->
    </section>
    <section class="pdp-feature-03 pdp-ww8800-section">
        <div class="pdp-text-area">
            <div class="feature-copy">
                <h2 class="feature-title">Add any item*, any time**</h2>
                <h3 class="feature-sub-title">Simply add any item* during wash.</h3>
                <p class="feature-description">
                    Missed a shirt? The Add Wash door lets you simply and quickly add forgotten clothes* after your wash cycle has already started**. You can also easily pop in hand-washed clothes that you just want to rinse or spin dry.
                </p>
                <p class="feature-disclaimer">
                    * Only fabric items, clothing, detergent and softener can be added.<br>
                    ** The Add Wash door only opens only when the drum temperature is below 50°C.
                </p>
            </div>
        </div>
        <div class="pdp-feature-area">
            <figure class="feature-img static-img">
                <img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_3_1.jpg"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_3_1.jpg"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_3_1_t.jpg"
                     data-screen-mobile="/assets/img/ww8800/pdp_feature_3_1_m.jpg" alt="" />
            </figure>
            <figure class="feature-img static-img">
                <img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_3_2.jpg"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_3_2.jpg"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_3_2_t.jpg"
                     data-screen-mobile="/assets/img/ww8800/pdp_feature_3_2_m.jpg" alt="" />
            </figure>
            <figure class="feature-img dynamic-img">
                <img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_3_obj.png"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_3_obj.png"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_3_obj_t.png"
                     data-screen-mobile="" alt="An image showing a user putting a pair of jeans into a QuickDrive device. " />
            </figure>
        </div>
    </section>
    <section class="pdp-feature-04 pdp-ww8800-section">
        <div class="pdp-text-area">
            <div class="feature-copy">
                <h2 class="feature-title">AI-Powered laundry care</h2>
                <h3 class="feature-sub-title">Laundry assistant curates washing seamlessly</h3>
                <p class="feature-description">
                    Q-rator is a smart management system* that uses data captured during user interactions** to utilize QuickDrive™ more effectively. 'Laundry Recipe' recommends optimal wash cycles***, 'Laundry Planner' helps optimize your laundry schedule****,  and 'HomeCare Wizard' enables remote troubleshooting.
                </p>
                <p class="feature-disclaimer">
                    * Available on Android and iPhones devices. A Wi-Fi connection is required.<br>
                    ** Stores user data, preferences and usage patterns to suggest the useful options.<br>
                    *** No liability is accepted for any damage caused by incorrect information entered by the user.<br>
                    ****Wash cycle recommendation is based only on the washing time, so it may not be suitable for all materials or levels of soiling.<br>
                </p>
            </div>
        </div>
        <div class="pdp-feature-area clearfix">
            <figure class="feature-img obj-img">
                <img src="/assets/img/ww8800/pdp_feature_4_obj.png" alt="">
            </figure>
            <div class="feature-slide-wrapper">
                <div class="feature-slide-1 slide-obj">
                    <figure class="feature-img feature-obj-1">
                        <img src="/assets/img/ww8800/pdp_feature_4_1_obj.png" alt="">
                    </figure>
                    <figure class="feature-img feature-obj-2">
                        <img src="/assets/img/ww8800/pdp_feature_4_2_obj.png" alt="">
                    </figure>
                    <figure class="feature-img feature-obj-3">
                        <img src="/assets/img/ww8800/pdp_feature_4_3_obj.png" alt="">
                    </figure>
                </div>
                <div class="feature-slide-2 slide-img">
                    <figure class="feature-img slide-img-1">
                        <img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_4_1.jpg"
                             data-screen-desktop="/assets/img/ww8800/pdp_feature_4_1.jpg"
                             data-screen-tablet="/assets/img/ww8800/pdp_feature_4_1_t.jpg"
                             data-screen-mobile="/assets/img/ww8800/pdp_feature_4_1_m.jpg" alt="" />
                    </figure>
                    <figure class="feature-img slide-img-2">
                        <img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_4_2.jpg"
                             data-screen-desktop="/assets/img/ww8800/pdp_feature_4_2.jpg"
                             data-screen-tablet="/assets/img/ww8800/pdp_feature_4_2_t.jpg"
                             data-screen-mobile="/assets/img/ww8800/pdp_feature_4_2_m.jpg" alt="An image showing a smartphone being held in one hand, running the  Samsung Connect app, as well as a woman, walking and looking down at her smartphone. " />
                    </figure>
                    <figure class="feature-img slide-img-3">
                        <img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_4_3.jpg"
                             data-screen-desktop="/assets/img/ww8800/pdp_feature_4_3.jpg"
                             data-screen-tablet="/assets/img/ww8800/pdp_feature_4_3_t.jpg"
                             data-screen-mobile="/assets/img/ww8800/pdp_feature_4_3_m.jpg" alt="An image showing a smartphone, held in one hand, running the  Samsung Connect app. In the background, a QuickDrive device is shown, with a Cloud icon, indicating that the machine and smartphone are synced via the Cloud. " />
                    </figure>
                </div>
            </div>
            <!--<div class="feature-slide-wrapper-ie8">-->
            <!--<figure>-->
            <!--<img src="/assets/img/ww8800/pdp_feature_4_1_ie8.jpg" alt="">-->
            <!--</figure>-->
            <!--<figure>-->
            <!--<img src="/assets/img/ww8800/pdp_feature_4_2_ie8.jpg" alt="">-->
            <!--</figure>-->
            <!--<figure>-->
            <!--<img src="/assets/img/ww8800/pdp_feature_4_3_ie8.jpg" alt="">-->
            <!--</figure>-->
            <!--</div>-->
        </div>
    </section>
    <section class="pdp-feature-05 pdp-ww8800-section">
        <div class="pdp-text-area">
            <div class="feature-copy off">
                <h2 class="feature-title">Easy auto dispense</h2>
                <h3 class="feature-sub-title">Auto Optimal cleaning with automated control</h3>
                <p class="feature-description">
                    Auto Optimal Wash uses 4 types of sensors to optimize washing results without extra effort**. By sensing the weight of the laundry and the level of soiling*, it optimizes the amount of water, detergent and rinsing time. The modular 'Auto dispense' is also easier to refill, even using high-viscosity detergents.
                </p>
                <p class="feature-disclaimer">
                    * Patent application number: US13/867577, EP13164787.7 <br>
                    ** Auto Optimal Wash holds detergent for 16 loads of laundry, enough for up to 1 month based on the average of 4 loads per week / 5kg load / normal soil level.<br>
                    *** Actual results may vary depending on individual use.
                </p>
            </div>
        </div>
        <div class="pdp-feature-area">
            <figure class="feature-img static-img">
                <img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_5.jpg"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_5.jpg"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_5_t.jpg"
                     data-screen-mobile="/assets/img/ww8800/pdp_feature_5_m.jpg" alt="An image showing the inside of the WW8800 device's drum, as well as icons and text that indicate how the auto dispense systems run according to four steps." />

                <div class="feature-icon-wrapper">
                    <div class="feature-icon-1 feature-icon feature-icon-right">
                        <div class="icon-bg">
                            <figure>
                                <img src="/assets/img/ww8800/feature-5-icon1.gif" alt="">
                            </figure>
                            <div class="icon-text">
                                <h4>STEP 1.</h4>
                                <h5>Wash Load Sensing</h5>
                                <p>Measuring the load size</p>
                            </div>
                        </div>
                        <span class="point-wrapper">
                        <span class="point"></span>
                    </span>
                    </div>
                    <div class="feature-icon-2 feature-icon feature-icon-left">
                        <div class="icon-bg">
                            <figure>
                                <img src="/assets/img/ww8800/feature-5-icon2.gif" alt="">
                            </figure>
                            <div class="icon-text">
                                <h4>STEP 2.</h4>
                                <h5>Water Level Sensing</h5>
                                <p>Calculating the amount of water</p>
                            </div>
                        </div>
                        <span class="point-wrapper">
                        <span class="point"></span>
                    </span>
                    </div>
                    <div class="feature-icon-3 feature-icon feature-icon-left">
                        <div class="icon-bg">
                            <figure>
                                <img src="/assets/img/ww8800/feature-5-icon3.gif" alt="">
                            </figure>
                            <div class="icon-text">
                                <h4>STEP 3.</h4>
                                <h5>Soil Level Sensing</h5>
                                <p>Sensing the level of soiling* using Samsung’s patented turbidity sensor*</p>
                            </div>
                        </div>
                        <span class="point-wrapper">
                        <span class="point"></span>
                    </span>
                    </div>
                    <div class="feature-icon-4 feature-icon feature-icon-right">
                        <div class="icon-bg">
                            <figure>
                                <img src="/assets/img/ww8800/feature-5-icon4.gif" alt="">
                            </figure>
                            <div class="icon-text">
                                <h4>STEP 4.</h4>
                                <h5>Detergent Level Sensing</h5>
                                <p>Adjusting the right amount of detergent and softener</p>
                            </div>
                        </div>
                        <span class="point-wrapper">
                        <span class="point"></span>
                    </span>
                    </div>
                </div>
            </figure>
        </div>
    </section>
    <section class="pdp-feature-07 pdp-ww8800-section">
        <div class="pdp-text-area">
            <div class="feature-copy off">
                <h2 class="feature-title">Super fast washing</h2>
                <h3 class="feature-sub-title">Powerful cleaning only in 39mins*</h3>
                <p class="feature-description">
                    Super Speed cuts the time of a daily wash by 34% to just 39 minutes*. QuickDrive™ saves time by moving clothes dynamically, while Eco Bubble™ ensures powerful cleaning. The rinsing time is also shortened using a Speed Spray and ‘wave drum
                    pattern’**, and by accelerating the spin speed.
                </p>
                <p class="feature-disclaimer">
                    *Compared to a Samsung's conventional Super Speed course at the default setting with a 5kg load.<br>
                    **Tested on WW8800M compared with Samsung WW8500K on Super Speed (40℃, 5kg load) based on Intertek data.
                </p>
            </div>
        </div>
        <div class="pdp-feature-area">
            <figure class="feature-img static-img">
                <img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_7.jpg"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_7.jpg"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_7_t.jpg"
                     data-screen-mobile="/assets/img/ww8800/pdp_feature_7_m.jpg" alt="" />
            </figure>
            <figure class="feature-img dynamic-img">
                <img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_7_obj.png"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_7_obj.png"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_7_obj_t.png"
                     data-screen-mobile="/assets/img/ww8800/pdp_feature_7_obj_m.png" alt="An image showing the new drum's structure on the left and water being poured onto the laundry inside a WW8800 device shown on the right." />
            </figure>
            <figure class="feature-vid">
                <video src="/assets/img/ww8800/pdp_feature_7-vid.mp4" id="feature_7-video" playsinline muted></video>
                <img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_7-novid.jpg"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_7-novid.jpg"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_7-novid_t.jpg"
                     data-screen-mobile="/assets/img/ww8800/pdp_feature_7-novid_m.jpg" alt="An image showing graphs that illustrate how the device's super speed feature reduces washing time.">
                <figcaption>An image showing graphs that illustrate how the device's super speed feature reduces washing time.</figcaption>
            </figure>
            <!--<span class="feature-text">The new drum shape is a structure that allows more water to be drawn out through capillary action.</span>-->
        </div>
    </section>
    <section class="pdp-feature-06 pdp-ww8800-section">
        <div class="pdp-text-area">
            <div class="feature-copy">
                <h2 class="feature-title">Powerful bubbles</h2>
                <h3 class="feature-sub-title">Powerful bubbles, outstanding cleaning</h3>
                <p class="feature-description">
                    Eco Bubble™ technology delivers powerful cleaning, even at low temperatures*. Detergent is turned into bubbles, so it quickly penetrates fabric and removes dirt easily, while protecting its color and texture and saving energy**.
                </p>
            </div>
        </div>
        <div class="pdp-feature-area">
            <figure class="feature-vid">
                <video src="/assets/img/ww8800/pdp_feature_6-vid.mp4" id="feature_6-video" playsinline muted></video>
                <img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_6-novid.jpg"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_6-novid.jpg"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_6-novid_t.jpg"
                     data-screen-mobile="/assets/img/ww8800/pdp_feature_6-novid_m.jpg" alt="An image showing bubbles coming from the small holes in a WW8800 device's drum and being absorbed into the laundry.">
                <figcaption>
                    An image showing bubbles coming from the small holes in a WW8800 device's drum and being absorbed into the laundry.
                </figcaption>
            </figure>
            <!--<figure class="feature-img static-img">-->
            <!--<img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_6.jpg"-->
            <!--data-screen-desktop="/assets/img/ww8800/pdp_feature_6.jpg"-->
            <!--data-screen-tablet="/assets/img/ww8800/pdp_feature_6_t.jpg"-->
            <!--data-screen-mobile="/assets/img/ww8800/pdp_feature_6_m.jpg" alt="" />-->
            <!--</figure>-->
        </div>
        <p class="feature-disclaimer-outer">
            * Tested in accordance with IEC 60456-2010 / 4kg Wash Load / Super Eco Wash cold (WF80F5E5U4W) vs. Cotton 40°C without Eco Bubble (WF0702WKU).
            Individual results may vary.<br>
            ** Based on the Performance Lab Test report by Springboard Engineering on EMPA strips, comparing a normal detergent solution and bubble technology without mechanical action.
        </p>
    </section>
    <section class="pdp-feature-09 pdp-ww8800-section">
        <div class="pdp-text-area">
            <div class="feature-copy">
                <h2 class="feature-title">Active stain removal</h2>
                <h3 class="feature-sub-title">Intensive bubbles remove stubborn stains</h3>
                <p class="feature-description">
                    With the touch of a button the Bubble Soak function helps remove a variety of stubborn stains. Clothes are thoroughly soaked in active bubbles, so any dirt and stains are loosened and can be removed much more effectively*.
                </p>
            </div>
        </div>
        <div class="pdp-feature-area">
            <figure class="feature-img static-img">
                <img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_9.jpg"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_9.jpg"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_9_t.jpg"
                     data-screen-mobile="/assets/img/ww8800/pdp_feature_9_m.jpg" alt="An image showing the inside of the machine's drum, as the bubble soak function removes stains from clothes." />
            </figure>
        </div>
        <p class="feature-disclaimer-outer">
            * Tested in accordance with IEC 60456 5th edition / 8kg Wash Load / Bubble Soak Wash (WF80F5E5U4) vs. Cotton 40/60°C, Synthetic 60°C, and Denim 40°C without Bubble Soak (WF0702WKU).
        </p>
    </section>
    <section class="pdp-feature-08 pdp-ww8800-section">
        <div class="pdp-text-area">
            <div class="feature-copy">
                <h2 class="feature-title">Keep washer fresh</h2>
                <h3 class="feature-sub-title">Keep your washer fresh – even its gasket</h3>
                <p class="feature-description">
                    Eco Drum Clean + cleans inside your washer and eliminates 99.9% of odor-causing bacteria* without using harsh chemicals. The frictional force of a powerful water jet and fast spinning also removes 99% of dirt* from the rubber door gasket. It even notifies you when it needs cleaning.
                </p>
                <p class="feature-disclaimer">
                    *Tested on WW8800M Eco Drum Clean+ course eliminates 99.9% of odor-causing bacteria from a inside of washer and removes and 99% of dirt from the rubber gasket based on Intertek test data.<br>
                    ** It notifies after every 40 cycles.
                </p>
            </div>
        </div>
        <div class="pdp-feature-area">
            <figure class="feature-img static-img">
                <img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_8.jpg"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_8.jpg"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_8_t.jpg"
                     data-screen-mobile="/assets/img/ww8800/pdp_feature_8_m.jpg" alt="An image showing heavy water being poured from a WW8800 device, as well as a magnified image of the clean rubber door gasket inside the device." />
            </figure>
        </div>
    </section>
    <section class="pdp-feature-10 pdp-ww8800-section">
        <div class="pdp-text-area">
            <div class="feature-copy">
                <h2 class="feature-title">Quiet, powerful & durable performance</h2>
                <!--<h3 class="feature-sub-title">Quiet, powerful & durable performance</h3>-->
                <p class="feature-description">
                    Digital Inverter Technology utilizes strong magnets for a quieter and more powerful performance, but consumes less energy than a Universal Motor. By eliminating the use of brushes, it provides outstanding durability* – backed-up by a 10 year warranty.
                    <span class="feature-icon img-icon1">Digital Inverter Motor</span>
                    <span class="feature-icon img-icon2">Samsung Conventional</span>
                </p>
                <p class="feature-disclaimer">
                    *Awarded a 20 year durability certification by the Association for Electrical, Electronic & Information Technologies in Germany (Verband Deutscher Elektrotechniker – VDE).
                </p>
            </div>
        </div>
        <div class="pdp-feature-area">
            <figure class="feature-img static-img">
                <img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_10.jpg"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_10.jpg"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_10_t.jpg"
                     data-screen-mobile="/assets/img/ww8800/pdp_feature_10_m.jpg" alt="An image showing the Digital Inverter ten-year warranty sticker on the front of the WW8500." />
            </figure>
        </div>
    </section>
    <section class="pdp-feature-11 pdp-ww8800-section">
        <div class="pdp-text-area">
            <div class="feature-copy off">
                <h2 class="feature-title">Peaceful washing</h2>
                <h3 class="feature-sub-title">Peaceful washing anytime, anywhere</h3>
                <p class="feature-description">
                    VRT-M technology reduces noise and vibration during washes*. A 3 Dimensional
                    Vibration Sensor system keeps the drum balanced by spinning 14 stainless steel balls in the opposite direction to your laundry. Even when it’s rotating slowly powerful
                    magnets help prevent tiny vibrations and noises.
                </p>
                <p class="feature-disclaimer">
                    *Compared to a Samsung conventional washing machine without VRT-M
                </p>
            </div>
        </div>
        <div class="pdp-feature-area">
            <div class="button-wrapper day-on">
                <button type="button" class="btn-day-on"><span><strong class="select">selected</strong> night mode button</span></button>
                <button type="button" class="btn-day-off"><span><strong>selected</strong>day time mode button</span></button>
            </div>
            <figure class="feature-img static-img img-day-on active">
                <img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_11-1.jpg"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_11-1.jpg"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_11-1_t.jpg"
                     data-screen-mobile="/assets/img/ww8800/pdp_feature_11-1_m.jpg" alt="An image showing a WW8800 device operating at night with lighting emitting from its inside." />
            </figure>
            <figure class="feature-img static-img img-day-off">
                <img class="static-frame screen-responsive" src="/assets/img/ww8800/pdp_feature_11-2.jpg"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_11-2.jpg"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_11-2_t.jpg"
                     data-screen-mobile="/assets/img/ww8800/pdp_feature_11-2_m.jpg" alt="An image displaying a WW8800 device shown during the afternoon, with a cat sleeping on the device." />
            </figure>
        </div>
    </section>
    <section class="pdp-feature-12 pdp-ww8800-section">
        <div class="pdp-text-area">
            <div class="feature-copy">
                <h2 class="feature-title">Lasting performance</h2>
                <h3 class="feature-sub-title">Longer lasting heating performance</h3>
                <p class="feature-description">
                    A Ceramic Heater + has a new type of anti-adhesion coating that reduces the build-up of limescale compared to conventional ceramic heaters*. Its patented design**
                    ensures there’s less limescale to inhibit thermal conductivity, so the heater maintains its performance for longer and is more durable.
                </p>
                <p class="feature-disclaimer">
                    * Tested on Ceramic Heater + compared with Samsung’s original conventional heater of WF60F4E0N0W/ET, based on independent testing of weight variation in hard water.<br>
                    ** Patent application number: 10-2012-0029920 in Korea, China, Europe, US.
                </p>
            </div>
        </div>
        <div class="pdp-feature-area feature-lifelike">
            <figure class="feature-img static-img feature-standard">
                <img class="static-frame screen-responsive section-figure-item" src="/assets/img/ww8800/pdp_feature_12-1.jpg"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_12-1.jpg"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_12-1_t.jpg"
                     data-screen-mobile="/assets/img/ww8800/pdp_feature_12-1_m.jpg" alt="" />
            </figure>
            <figure class="feature-img static-img feature-overlap">
                <img class="static-frame screen-responsive section-figure-item" src="/assets/img/ww8800/pdp_feature_12-2.jpg"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_12-2.jpg"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_12-2_t.jpg"
                     data-screen-mobile="/assets/img/ww8800/pdp_feature_12-2_m.jpg" alt="An image showing the rusty ceramic heater of a conventional device on the left, as well as a rust-free ceramic heater + on the right." />
            </figure>
            <div class="trigger-handler"></div>
        </div>
    </section>
    <section class="pdp-feature-13 pdp-ww8800-section">
        <div class="pdp-text-area">
            <div class="feature-copy off">
                <h2 class="feature-title">Convenient light</h2>
                <h3 class="feature-sub-title">Extra light & extra convenience</h3>
                <p class="feature-description">
                    An internal drum light lets you see exactly what’s inside – and make sure that you get everything out. It brightly illuminates your laundry and the rest of the drum, so you can quickly and safely check the contents.
                </p>
            </div>
        </div>
        <div class="pdp-feature-area">
            <figure class="feature-img static-img">
                <img class="static-frame screen-responsive section-figure-item" src="/assets/img/ww8800/pdp_feature_13-1.jpg"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_13-1.jpg"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_13-1_t.jpg"
                     data-screen-mobile="/assets/img/ww8800/pdp_feature_13-1_m.jpg" alt="" />
            </figure>
            <figure class="feature-img static-img">
                <img class="static-frame screen-responsive section-figure-item" src="/assets/img/ww8800/pdp_feature_13-2.jpg"
                     data-screen-desktop="/assets/img/ww8800/pdp_feature_13-2.jpg"
                     data-screen-tablet="/assets/img/ww8800/pdp_feature_13-2_t.jpg"
                     data-screen-mobile="/assets/img/ww8800/pdp_feature_13-2_m.jpg" alt="An image showing a WW8800 device's door emitting bright light inside the device." />
            </figure>
        </div>
    </section>
    <section class="dummy"></section>
</div>
