<!--<p>이름 :  박민구</p>-->
<!--<p>출생 : 1984.08.28 울산광역시 남구 전하동</p>-->
<!--<p>신체 : 180cm, 90kg, O형</p>-->
<!--<p>본관 : 영해 박씨</p>-->
<!--<p>가족 : 아버지 박중철, 어머니 전옥녕, 처 문수빈</p>-->
<!--<p>종교 : 기독교</p>-->
<!--<p>학력 : 울산신정초등학교(졸업), 울산옥동중학교(졸업), 울산신정고등학교(졸업), 창원대학교(중퇴), 방송통신대학교(재학)</p>-->
<!--<p>직업 : 웹 개발자(web front-end)</p>-->


<table class="profile">
    <tr>
        <th>이름</th>
        <td>박민구</td>
    </tr>
    <tr>
        <th>출생</th>
        <td>1984.08.28 울산광역시 남구 전하동</td>
    </tr>
    <tr>
        <th>신체</th>
        <td>180cm, 89kg, O형</td>
    </tr>
    <tr>
        <th>본관</th>
        <td>영해 박씨</td>
    </tr>
    <tr>
        <th>가족</th>
        <td>아버지 박중철, 어머니 전옥녕, 처 문수빈</td>
    </tr>
    <tr>
        <th>종교</th>
        <td>기독교</td>
    </tr>
    <tr>
        <th>학력</th>
        <td>신정초등학교(졸업), 옥동중학교(졸업), 신정고등학교(졸업), 창원대학교(중퇴), 방송통신대학교(재학)</td>
    </tr>
    <tr>
        <th>직업</th>
        <td>웹 개발자(web front-end)</td>
    </tr>
</table>

<p class="about">
    올해 7년차(2020년 기준) 아직 부족한 것도 많고 지금도 머릿 속에는 공부라는 단어를 매일 같이 넣어 넣고 다닌다.
    특출난 것도 없고 딱히 내세울 것도 없지만 '버티다' 보니 세월이 이렇게 흘렀다.
    일을 하다가 정말 머리가 쥐날 것 같이 힘들 때, '왜 나는 똑똑 하지 못할까', '이 일을 계속 하는게 맞는 건가' 라고 수 없이 되뇌곤 했었다.
    지금도 코드를 짜다 보면 한심스러운 결과물 때문에 낙담하기도 하고, 구글링을 하다 소위 말하는 천재인 것 같은 사람들이 만들어 놓은 코드를 보면서 스스로 한탄하기도 한다.
    그렇다, 불행의 시작은 비교라고 했다. 나는 비록 천재형은 아니지만 지금까지 나만의 길을 걸어왔다. 수많은 시행착오를 겪으며 더 좋은 코드를 만들기 위해 노력해 왔다.
    분명 그 차이는 메꿀 수 없지만 내 부족함을 너무 잘 알기에 채우기 위한 노력은 할 수 있다. 무궁무진한 가능성을 믿으며 그리고 지켜야 할 것들을 생각하며 오늘도 하루도 나는 버텨 낸다.
</p>