<table class="profile">
    <tr>
        <th>이름</th>
        <td>박민구</td>
    </tr>
    <tr>
        <th>출생</th>
        <td>1984.08.28 / 울산광역시 남구 전하동</td>
    </tr>
    <tr>
        <th>신체</th>
        <td>180cm, 90kg, O형</td>
    </tr>
    <tr>
        <th>본관</th>
        <td>영해 박씨</td>
    </tr>
    <tr>
        <th>가족</th>
        <td>아버지, 어머니, 아내</td>
    </tr>
    <tr>
        <th>종교</th>
        <td>기독교</td>
    </tr>
    <tr>
        <th>학력</th>
        <td>신정초등학교(졸업)<br> 옥동중학교(졸업)<br> 신정고등학교(졸업)<br> 창원대학교(중퇴)<br> 방송통신대학교(재학)</td>
    </tr>
</table>

<p class="about">
    7년차(2020년 기준) 웹 프론트 개발자 입니다. <br>
    HTML, Javascript, NodeJS 등의 기술을 보유하고 있습니다. <br>
    프론트엔드 프레임워크 리액트(react) 및 뷰(vue)에 대해 전반적으로 알고 있으며,<br>
    최신 브라우징 기술과 크로스 브라우징 및 웹 접근성에 대한 높은 이해도와 대응 능력을 가지고 있습니다. <br>
    또한 Samsung.com 내부에 납품 되는 사이트 제작을 많이 진행 하였고, 그와 관련한 프로세스 및 기술에 대해 풍부한 경험치를 가지고 있습니다. <br>
    풀 스택 개발자가 되기 위해 꾸준히 공부하고 있으며 현재 방송통신대학교 컴퓨터과학과 4학년에 재학중 입니다. (2022년 졸업예정.) <br>
</p>