<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
{% if page.title %}
<title style="text-transform: uppercase">{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="/assets/css/page.css">
<link rel="stylesheet" type="text/css" href="/assets/css/{{ page.title }}.css">
{% endif %}

<div class="loading">
    <svg class="loading-circle">
        <circle cx="50%" cy="50%" r="25"></circle>
    </svg>
    <script>
        document.body.classList.add('before-load');
        addEventListener('load', () => {
            document.body.classList.remove("before-load");
            document.querySelector('.loading').addEventListener('transitionend', function (e) {
                document.body.removeChild(e.target);
            });
        });
    </script>
</div>

{{ content }}


<script type="text/javascript" src="/assets/lib/jquery/jquery-1.12.4.min.js"></script>
{% if page.add-on %}
<script type="text/javascript" src="/assets/js/{{ page.add-on }}-add.js"></script>
{% endif %}
<script type="text/javascript" src="/assets/lib/slick/slick-1.8.1/slick.min.js"></script>
<script type="text/javascript" src="/assets/js/{{ page.title }}.js"></script>

<!-- <link rel="stylesheet" type="text/css" href="http://cdn.samsung.com/etc/designs/smg/{Country Code}/css/{Country Code}.css"> -->
<!--[if lte IE 8]>
<script src="http://www.samsung.com/common/next/js/lib/html5shiv.js"></script>
<![endif]-->