<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>삼성 키즈모드</title>
<link rel="stylesheet" href="/assets/css/kidsmode/slick.css">
<link rel="stylesheet" href="/assets/css/kidsmode/slick-theme.css">
<link rel="stylesheet" href="/assets/css/kidsmode/common.css">

<div class="wrapper">
    <!-- s : header -->
    <header>
        <h1><a href="/"><img src="/assets/img/kidsmode/common/logo.png" alt="SAMSUNG 키즈모드"></a></h1>
        <div class="navi">
            <nav>
                <ul>
                    <li><a href="./kids_advantage.html">특장점</a></li>
                    <li><a href="./kids_character.html">캐릭터 소개</a></li>
                    <li><a href="./kids_manual.html">사용방법</a></li>
                    <li><a href="./kids_mode.html"><span>#</span>키즈모드</a></li>
                    <li><a href="./kids_list.html">뉴스&amp;이벤트</a></li>
                    <li><a href="./kids_faq.html">FAQ</a></li>
                </ul>
            </nav>
            <div class="lang">
                <a href="#none" class="selected">Korea</a>
                <a href="#none">English</a>
            </div>
        </div>
        <button type="button">gnb 오픈</button>
    </header>
    <!-- e : header -->
    <!-- s : contents -->
    <div class="contents">
        <!-- s : key visual -->
        <section class="kvArea">
            <div class="kvImg">
                <div class="kv_bg">
                    <img src="/assets/img/kidsmode/main/key_visual_02.jpg" class="responsive-image" data-media-desktop="/assets/img/kidsmode/main/key_visual_02.jpg" data-media-tablet="/assets/img/kidsmode/main/kv_1024_02.jpg" data-media-mobile="/assets/img/kidsmode/main/kv_720_02.jpg"  alt="">
                </div>
                <div class="kv_bg">
                    <img src="/assets/img/kidsmode/main/key_visual_01.jpg" class="responsive-image" data-media-desktop="/assets/img/kidsmode/main/key_visual_01.jpg" data-media-tablet="/assets/img/kidsmode/main/kv_1024_01.jpg" data-media-mobile="/assets/img/kidsmode/main/kv_720_01.jpg"  alt="">
                </div>
            </div>
        </section>
        <!-- e : key visual -->
        <!-- s : advantage -->
        <section class="advantageArea">
            <h2 class="h2Tit">키즈모드 특장점</h2>
            <p class="titDesc">어린이를 위한 모든 앱을 키즈모드에 담았습니다.<br>
                2,500여종의 학습, 놀이 컨텐츠를 <br class="onlyMobile">안전한 환경에서 만나보세요.</p>
            <div class="advantageSlide">
                <div class="ad_1">
                    <h3>안전하게</h3>
                    <p>터치 한번에 우리 아이 전용 폰으로!<br>
                        하나의 스마트 폰으로 아이와 함께<br>
                        사용할 수 있는 키즈모드!</p>
                </div>
                <div class="ad_2">
                    <h3>즐겁게</h3>
                    <p>키즈모드 친구들과 함께하는 즐거운 놀이 공간!<br>
                        키즈모드 만의 특별한<br>
                        맞춤형 앱으로 보다 즐거집니다.</p>
                </div>
                <div class="ad_3">
                    <h3>다양하게</h3>
                    <p>세상의 모든 어린이 앱을 키즈모드에서!<br>
                        놀이하듯 공부도 즐겁게!<br>
                        다양한 콘텐츠를 즐겨보세요.</p>
                </div>
            </div>
            <a href="#none" class="moreBtn">더보기</a>
        </section>
        <!-- e : advantage -->
        <!-- s : friends -->
        <section class="friendsArea">
            <div class="friendsTit">
                <h2 class="h2Tit">키즈모드 친구들</h2>
                <p class="titDesc">키즈모드 마을 블록 아파트에는<br>
                    어떤 친구들이 살고 있을까요?</p>
            </div>
            <div class="friendsImg">
                <div class="one">
                    <div class="friendsCon">
                        <h2>마을의 대장 멋쟁이 크로크로</h2>
                        <a href="#none" class="moreBtn">더보기</a>
                    </div>
                    <img src="/assets/img/kidsmode/main/character_info_01.png" class="responsive-image" data-media-desktop="/assets/img/kidsmode/main/character_info_01.png" data-media-tablet="/assets/img/kidsmode/main/character_1024_01.jpg" data-media-mobile="/assets/img/kidsmode/main/character_720_01.jpg" alt="akdmfdml ">
                    <button type="button" class="next">다음 2</button>
                </div>
                <div class="two">
                    <button type="button" class="prev">이전 1</button>
                    <div class="friendsCon">
                        <h2>그림 그릴 때 가장 행복한 바비</h2>
                        <a href="#none" class="moreBtn">더보기</a>
                    </div>
                    <img src="/assets/img/kidsmode/main/character_info_02.png" class="responsive-image" data-media-desktop="/assets/img/kidsmode/main/character_info_02.png" data-media-tablet="/assets/img/kidsmode/main/character_1024_02.jpg" data-media-mobile="/assets/img/kidsmode/main/character_720_02.jpg" alt="">
                    <button type="button" class="next">다음 3</button>
                </div>
                <div class="three">
                    <button type="button" class="prev">이전 2</button>
                    <div class="friendsCon">
                        <h2>춤과 음악을 사랑하는 리사</h2>
                        <a href="#none" class="moreBtn">더보기</a>
                    </div>
                    <img src="/assets/img/kidsmode/main/character_info_03.png" class="responsive-image" data-media-desktop="/assets/img/kidsmode/main/character_info_03.png" data-media-tablet="/assets/img/kidsmode/main/character_1024_03.jpg" data-media-mobile="/assets/img/kidsmode/main/character_720_03.jpg" alt="">
                    <button type="button" class="next">다음 4</button>
                </div>
                <div class="four">
                    <button type="button" class="prev">이전 3</button>
                    <div class="friendsCon">
                        <h2>요리하는 것을 좋아하는 쿠키</h2>
                        <a href="#none" class="moreBtn">더보기</a>
                    </div>
                    <img src="/assets/img/kidsmode/main/character_info_04.png" class="responsive-image" data-media-desktop="/assets/img/kidsmode/main/character_info_04.png" data-media-tablet="/assets/img/kidsmode/main/character_1024_04.jpg" data-media-mobile="/assets/img/kidsmode/main/character_720_04.jpg" alt="">
                </div>
            </div>
        </section>
        <!-- e : friends -->
        <!-- s : how to -->
        <section class="howtoArea">
            <div class="howCon">
                <h2 class="h2Tit">키즈모드 사용방법</h2>
                <p class="titDesc">처음 사용해보시나요?<br>
                    튜토리얼과 함께 키즈모드를 200% 활용해보세요.</p>
                <a href="#none" class="blueBtn">사용방법 보기</a>
                <div class="howtoImg"><img src="/assets/img/kidsmode/main/img_howto.png" alt=""></div>
            </div>
        </section>
        <!-- e : how to -->
        <!-- s : snsArea -->
        <section class="snsArea">
            <div class="moreTitArea">
                <h2 class="h2Tit"><span>#</span>키즈모드</h2>
                <a href="#none" class="moreList">키즈모드 더 보기</a>
            </div>
            <article class="snsBlog">
                <ul>
                    <li>
                        <a href="#none">
                            <img src="/assets/img/kidsmode/main/blog_li_01.jpg" alt="">
                            <strong>삼성키즈모드로 아이가 달라졌어요~삼성키즈모드로 아이가 달라졌어요~</strong>
                        </a>
                        <em>꽃여사</em>
                        <p>내 아이가 만나는 첫 번째 디지털 세상, 키즈모드
                            키즈모드 체험단 선정자를 발표를 기다리셨나요?</p>
                    </li>
                    <li>
                        <a href="#none">
                            <img src="/assets/img/kidsmode/main/blog_li_02.jpg" alt="">
                            <strong>삼성키즈모드로 아이가 달라졌어요~</strong>
                        </a>
                        <em>꽃여사</em>
                        <p>내 아이가 만나는 첫 번째 디지털 세상, 키즈모드
                            키즈모드 체험단 선정자를 발표를 기다리셨나요?</p>
                    </li>
                    <li>
                        <a href="#none">
                            <img src="/assets/img/kidsmode/main/blog_li_03.jpg" alt="">
                            <strong>삼성키즈모드로 아이가 달라졌어요~</strong>
                        </a>
                        <em>꽃여사</em>
                        <p>내 아이가 만나는 첫 번째 디지털 세상, 키즈모드
                            키즈모드 체험단 선정자를 발표를 기다리셨나요?</p>
                    </li>
                </ul>
            </article>
        </section>
        <!-- e : snsArea -->
        <!-- s : listArea -->
        <section class="listArea">
            <article class="newsList">
                <div class="moreTitArea">
                    <h2 class="h2Tit">뉴스</h2>
                    <a href="#none" class="moreList">뉴스 더 보기</a>
                </div>
                <ul>
                    <li><a href="#none"><strong>키즈모드 SNS 이벤트 당첨자 발표 키즈모드 SNS 이벤트 당첨자 발표 </strong> <span>2017.04.06</span></a></li>
                    <li><a href="#none"><strong>키즈모드 체험단 발표 키즈모드 SNS 이벤트 </strong> <span>2017.04.06</span></a></li>
                    <li><a href="#none"><strong>키즈모드 SNS 이벤트 당첨자 발표</strong> <span>2017.04.06</span></a></li>
                    <li><a href="#none"><strong>키즈모드 SNS 이벤트 당첨자 발표</strong> <span>2017.04.06</span></a></li>
                    <li><a href="#none"><strong>키즈모드 당첨자 발표</strong> <span>2017.04.06</span></a></li>
                </ul>
            </article>
            <article class="evtList">
                <h2 class="h2Tit">이벤트</h2>
                <div class="evtBanner">
                    <div>
                        <a href="#none">
                            <img src="/assets/img/kidsmode/main/evt_banner_01.jpg" alt="">
                            <div class="evtCon">
                                <strong>키즈모드 SNS 이벤트 SNS 이벤트</strong>
                                <span>2017.04.06 - 2017.04.30</span>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#none">
                            <img src="/assets/img/kidsmode/main/evt_banner_01.jpg" alt="">
                            <div class="evtCon">
                                <strong>키즈모드 SNS 이벤트 키즈모드 SNS 이벤트 당첨자 발표 키즈모드 SNS 이벤트 당첨자 발표</strong>
                                <span>2017.04.06 - 2017.04.30</span>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#none">
                            <img src="/assets/img/kidsmode/main/evt_banner_01.jpg" alt="">
                            <div class="evtCon">
                                <strong>키즈모드 SNS</strong>
                                <span>2017.04.06 - 2017.04.30</span>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#none">
                            <img src="/assets/img/kidsmode/main/evt_banner_01.jpg" alt="">
                        </a>
                        <div class="evtCon">
                            <strong>키즈모드 SNS 키즈모드 SNS 이벤트</strong>
                            <span>2017.04.06 - 2017.04.30</span>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <!-- e : listArea -->
    </div>
    <!-- e : contents -->
    <!-- s : footer -->
    <footer>
        <div class="footerCon">
            <ul>
                <li class="info">
                    <p>우리아이의 스마트폰 사용, <strong>첫 시작은 키즈모드와 함께하세요!</strong></p>
                    <a href="#none">지원 가능한 단말기 확인하기 <span>&rarr;</span></a>
                </li>
                <li class="app">
                    <a href="#none"><img src="/assets/img/kidsmode/common/img_galaxyapp.png" alt="Galaxy APPS"></a>
                    <a href="#none"><img src="/assets/img/kidsmode/common/img_googleapp.png" alt="Google Play"></a>
                    <p>* Galaxy Apps의 경우 Galaxy Essentials 에서 <span>Kids Mode를 선택하세요.</span></p>
                </li>
            </ul>
        </div>
        <div class="footer">
            <ul>
                <li><a href="#none">이용약관</a></li>
                <li><a href="#none">개인정보취급방침</a></li>
            </ul>
            <p class="copyright">Copyright© 2015-2017 SAMSUNG All Rights Reserved.</p>
            <a href="#none" class="goSamsung">Samsung.com <span>&rarr;</span></a>
        </div>
    </footer>
    <!-- e : footer -->
</div>
<!--<div class="evtBtn">버튼</div>-->
<div class="evtLayer">
    <div class="evtLayerCon">
        <h2>이벤트 참여방법</h2>
        <div class="form">
            <p>
                <label for="userName">이름</label>
                <input type="text" value="홍길동" id="userName" />
            </p>
            <p>
                <label for="userPone">전화번호</label>
                <span>
                    <select id="userPone">
                        <option value="010">010</option>
                        <option value="010">011</option>
                        <option value="010">018</option>
                    </select>
                    <span><input type="text" value="0000" title="두번째 전화번호"></span>
                    <span><input type="text" value="0000" title="세번째 전화번호"></span>
                </span>
            </p>
            <p class="file">
                <strong>파일등록</strong>
                <span>
                    <input type="file" name="file-7[]" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" multiple />
                    <label for="file-7"><span></span> <strong>파일선택</strong></label>
                </span>
            </p>
        </div>
        <div class="term">
            <h3>[ 개인정보 수집 및 이용 안내 ]</h3>
            <ul>
                <li>1. 수집하는 개인정보 항목
                    <span>- 이름, 휴대전화번호</span>
                </li>
                <li>2. 수집 및 이용 목적
                    <span>- 이벤트 참여 확인 및 당첨자 추첨, 모바일/현물 경품 배송</span>
                </li>
                <li>3. 보유 및 이용기간
                    <span>- 2017년 5월1일 ~ 2017년5월31일</span>
                </li>
                <li>4. 개인정보 처리업무 위탁
                    <span>- 당사는 수집된 개인정보를 이벤트 참여 확인 및 당첨자 추첨, 현물 경품 배송 목적으로 (주)닷즈커뮤니케이션에 위탁하여 처리합니다.</span>
                </li>
            </ul>
            <p>고객님께서는 개인정보 수집 및 이용 또는 개인정보 처리업무 위탁에 대한 동의를 거부할 수 있으나, 미동의 시 이벤트 참여가 제한됩니다. 기타 개인정보와 관련된 사항에 대해서는 account.samsung.com 개인정보처리방침을 참조하시기 바랍니다.</p>
        </div>
        <p class="check">
            <input type="checkbox" id="agreeChk"><label for="agreeChk">개인정보 수집 및 이용동의</label>
        </p>
        <div class="btnWrap">
            <button class="submit">이벤트 응모하기</button>
            <button type="button" class="closeLayer">닫기</button>
        </div>
    </div>
</div>
<div class="dimLayer"></div>
<script src="/assets/js/kidsmode/jquery.min.js"></script>
<script src="/assets/js/kidsmode/jquery.easing.min.js"></script>
<script src="/assets/js/kidsmode/slick.js"></script>
<script src="/assets/js/kidsmode/ui.js"></script>