<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>삼성 키즈모드</title>
<link rel="stylesheet" href="/assets/css/kidsmode/slick.css">
<link rel="stylesheet" href="/assets/css/kidsmode/slick-theme.css">
<link rel="stylesheet" href="/assets/css/kidsmode/common.css">
<link rel="stylesheet" href="/assets/css/kidsmode/contents.css">
<div class="wrapper">
    <!-- s : header -->
    <header>
        <h1><a href="/"><img src="/assets/img/kidsmode/common/logo.png" alt="SAMSUNG 키즈모드"></a></h1>
        <div class="navi">
            <nav>
                <ul>
                    <li><a href="./kids_advantage.html" class="selected">특장점</a></li>
                    <li><a href="./kids_character.html">캐릭터 소개</a></li>
                    <li><a href="./kids_manual.html">사용방법</a></li>
                    <li><a href="./kids_mode.html"><span>#</span>키즈모드</a></li>
                    <li><a href="./kids_list.html">뉴스&amp;이벤트</a></li>
                    <li><a href="./kids_faq.html">FAQ</a></li>
                </ul>
            </nav>
            <div class="lang">
                <a href="#none" class="selected">Korea</a>
                <a href="#none">English</a>
            </div>
        </div>
        <button type="button">gnb 오픈</button>
    </header>
    <!-- e : header -->
    <!-- s : contents -->
    <div class="contents">
        <div class="advantage">
            <div class="titArea">
                <h2 class="subTit">특장점</h2>
                <p class="subDesc">어린이를 위한 전 세계 모든 앱을 보다 안전하고 재미있게 키즈모드에서 만나실 수 있습니다.</p>
            </div>
            <div class="advan_1">
                <img src="/assets/img/kidsmode/contents/bg_advan_1.png" data-media-tablet="/assets/img/kidsmode/contents/bg_advan_720_1.png" alt="">
                <dl>
                    <dt class="conTit">안전하게</dt>
                    <dd>
                        <strong>하나의 스마트 폰(태블릿)으로 아이와 함께 사용할 수 있는 키즈모드!</strong>
                        <p class="subConTxt">키즈모드는 유해한 인터넷 정보로부터 자녀들을 안전하게 보호할 수 있습니다.<br>
                            Pin-lock 으로 아이가 키즈모드를 벗어나는 것을 막아주며, 부모모드 (아이보호)에서 놀이 시간을 제한하거나<br>
                            원하는 컨텐츠를 허용하여 아이의 컨텐츠 사용을 관리할 수 있습니다.</p>
                    </dd>
                </dl>
            </div>
            <div class="advan_2">
                <img src="/assets/img/kidsmode/contents/bg_advan_2.png" data-media-tablet="/assets/img/kidsmode/contents/bg_advan_720_2.png" alt="">
                <dl>
                    <dt class="conTit">즐겁게</dt>
                    <dd>
                        <strong>키즈모드만의 특별한 맞춤형 앱으로 보다 즐거워집니다.</strong>
                        <p class="subConTxt">키즈모드 캐릭터를 가지고 개성있는 캐릭터를 만들거나, 아이들이 쉽고 재미있게 사용할 수 있는 키즈 맞춤형 앱으로<br>
                            아기자기한 볼거리와 놀거리가 가득합니다.</p>
                    </dd>
                </dl>
            </div>
            <div class="advan_3">
                <img src="/assets/img/kidsmode/contents/bg_advan_3.png" data-media-tablet="/assets/img/kidsmode/contents/bg_advan_720_3.png" alt="">
                <dl>
                    <dt class="conTit">다양하게</dt>
                    <dd>
                        <strong>놀이하듯 공부도 즐겁게! 다양한 콘텐츠를 즐겨보세요.</strong>
                        <p class="subConTxt">키즈모드는 ‘키즈 스토어＇를 통해 아이들이 안전하게 사용가능한 유/무료 앱을 추가로 다운로드 받을 수 있습니다,<br>
                            키즈 스토어에는 영어, 숫자, 도형 등을 나이에 맞게 학습할 수 있는 단계별 학습 콘텐츠 뿐만 아니라,<br>
                            인기 캐릭터 기반의 놀이, 학습, 이야기 관련 콘텐츠 2,500여종의 앱이 제공되고 있답니다.</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <!-- e : contents -->
    <!-- s : footer -->
    <footer>
        <div class="footerCon">
            <ul>
                <li class="info">
                    <p>우리아이의 스마트폰 사용, <strong>첫 시작은 키즈모드와 함께하세요!</strong></p>
                    <a href="#none">지원 가능한 단말기 확인하기 <span>&rarr;</span></a>
                </li>
                <li class="app">
                    <a href="#none"><img src="/assets/img/kidsmode/common/img_galaxyapp.png" alt="Galaxy APPS"></a>
                    <a href="#none"><img src="/assets/img/kidsmode/common/img_googleapp.png" alt="Google Play"></a>
                    <p>* Galaxy Apps의 경우 Galaxy Essentials 에서 <span>Kids Mode를 선택하세요.</span></p>
                </li>
            </ul>
        </div>
        <div class="footer">
            <ul>
                <li><a href="#none">이용약관</a></li>
                <li><a href="#none">개인정보취급방침</a></li>
            </ul>
            <p class="copyright">Copyright© 2015-2016 SAMSUNG All Rights Reserved.</p>
            <a href="#none" class="goSamsung">Samsung.com <span>&rarr;</span></a>
        </div>
    </footer>
    <!-- e : footer -->
</div>
<div class="dimLayer"></div>
<script src="/assets/js/kidsmode/jquery.min.js"></script>
<script src="/assets/js/kidsmode/jquery.easing.min.js"></script>
<script src="/assets/js/kidsmode/slick.js"></script>
<script src="/assets/js/kidsmode/ui.js"></script>