<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>삼성 키즈모드</title>
<link rel="stylesheet" href="/assets/css/kidsmode/slick.css">
<link rel="stylesheet" href="/assets/css/kidsmode/slick-theme.css">
<link rel="stylesheet" href="/assets/css/kidsmode/common.css">
<link rel="stylesheet" href="/assets/css/kidsmode/contents.css">
<div class="wrapper">
    <!-- s : header -->
    <header>
        <h1><a href="/"><img src="/assets/img/kidsmode/common/logo.png" alt="SAMSUNG 키즈모드"></a></h1>
        <div class="navi">
            <nav>
                <ul>
                    <li><a href="./kids_advantage.html">특장점</a></li>
                    <li><a href="./kids_character.html" class="selected">캐릭터 소개</a></li>
                    <li><a href="./kids_manual.html">사용방법</a></li>
                    <li><a href="./kids_mode.html"><span>#</span>키즈모드</a></li>
                    <li><a href="./kids_list.html">뉴스&amp;이벤트</a></li>
                    <li><a href="./kids_faq.html">FAQ</a></li>
                </ul>
            </nav>
            <div class="lang">
                <a href="#none" class="selected">Korea</a>
                <a href="#none">English</a>
            </div>
        </div>
        <button type="button">gnb 오픈</button>
    </header>
    <!-- e : header -->
    <!-- s : contents -->
    <div class="contents">
        <div class="characterIntroduce">
            <div class="titArea">
                <h2 class="subTit">캐릭터 소개</h2>
                <p class="subDesc">키즈모드 친구들을 소개합니다. 키즈모드 마을 블록 아파트에 놀러오세요.</p>
            </div>
            <div class="charCon">
                <ul class="charTab">
                    <li><a href="#none" class="selected">크로크로</a></li>
                    <li><a href="#none">바비</a></li>
                    <li><a href="#none">리사</a></li>
                    <li><a href="#none">쿠키</a></li>
                </ul>
                <div class="charTabCon">
                    <span class="layer_closed_btn"><a href="#none">닫기</a></span>
                    <div class="tabCon tabCon_1 on">
                        <div class="tabConSec">
                            <div class="con_tit">
                                <h3 class="conTit">크로크로 (CroCro)</h3>
                                <p class="conDesc">키즈모드 마을의 대장 '크로크로'는 예쁘게 꾸미는 것을 좋아해요. 크로크로에게 예쁜 옷을 입혀주세요.</p>
                            </div>
                            <div class="tabCon_fig">
                                <figure class="tabCon_vid">
                                    <video src="/assets/img/kidsmode/contents/video/char_vid_1.mp4" autoplay loop></video>
                                </figure>
                            </div>
                        </div>
                        <div class="tabConSec">
                            <span class="tabConDesc">크로크로의 옷장에서 마음대로 크로크로의 옷을 바꿀 수 있습니다. 터치 동작으로 쉽게 옷을 바꿀 수 있어 아이들이 쉽고 재미있어 합니다.</span>
                            <figure class="tabConImg">
                                <img src="/assets/img/kidsmode/contents/tabCon_1.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="tabCon tabCon_2">
                        <div class="tabConSec">
                            <div class="con_tit">
                                <h3 class="conTit">바비 (Bobby)</h3>
                                <p class="conDesc">그림 그릴 때 가장 행복한 바비. 그림을 그리고 나면 따뜻한 물에 샤워하고 양치질하는 것을 좋아해요.</p>
                            </div>
                            <div class="tabCon_fig">
                                <figure class="tabCon_vid"><video src="/assets/img/kidsmode/contents/video/char_vid_2.mp4"  loop></video></figure>
                            </div>
                        </div>
                        <div class="tabConSec">
                            <span class="tabConDesc">바비는 따뜻한 물에 샤워하고 이 닦기를 매우 좋아해요. 화면을 문질러 비누칠을 하고 코끼리 샤워 후 이를 닦는 바비를 통해 씻는 방법을 알려주세요.</span>
                            <figure class="tabConImg">
                                <img src="/assets/img/kidsmode/contents/tabCon_2.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="tabCon tabCon_3">
                        <div class="tabConSec">
                            <div class="con_tit">
                                <h3 class="conTit">리사 (Lisa)</h3>
                                <p class="conDesc">마을의 음악가 리사. 다양한 악기를 연주하고, 친구들과 춤추는 것을 좋아해요.</p>
                            </div>
                            <div class="tabCon_fig">
                                <figure class="tabCon_vid"><video src="/assets/img/kidsmode/contents/video/char_vid_3.mp4"  loop></video></figure>
                            </div>
                        </div>
                        <div class="tabConSec">
                            <span class="tabConDesc">아이의 사진을 찍어 리사와 함께 춤을 출 수 있어요. 음악과 함께 리사의 율동을 따라 할 수도 있습니다.</span>
                            <figure class="tabConImg">
                                <img src="/assets/img/kidsmode/contents/tabCon_3.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="tabCon tabCon_4">
                        <div class="tabConSec">
                            <div class="con_tit">
                                <h3 class="conTit">쿠키 (Cooki)</h3>
                                <p class="conDesc">요리하는 것을 좋아하는 쿠키. 쿠키의 취미는 먹고 낮잠자기, 달콤한 핑크 도넛을 가장 좋아해요.</p>
                            </div>
                            <div class="tabCon_fig">
                                <figure class="tabCon_vid"><video src="/assets/img/kidsmode/contents/video/char_vid_4.mp4"  loop></video></figure>
                            </div>
                        </div>
                        <div class="tabConSec">
                            <span class="tabConDesc">쿠키는 물고기, 과일, 과자 못 먹는게 없습니다. 먹을 것을 주면 좋아하는 쿠키의 표정에 아이들도 즐거워 합니다.</span>
                            <figure class="tabConImg">
                                <img src="/assets/img/kidsmode/contents/tabCon_4.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="aptFlowCon">
                    <div class="aptFlow">
                        <div class="con_tit">
                            <h3 class="conTit">블록 아파트</h3>
                            <p class="conDesc">블록 아파트는 크로크로와 친구들이 사는 아파트입니다. 다양한 테마로 블록 아파트를 내가 원하는 스타일로 바꿀 수가 있어요.</p>
                        </div>
                        <div class="coverflow">
                            <div class="a1 innerFlow">
                                <img src="/assets/img/kidsmode/contents/cover_1.png" alt="">
                                <div class="bg"></div>
                                <span>농장</span>
                            </div>
                            <div class="a2 innerFlow">
                                <img src="/assets/img/kidsmode/contents/cover_2.png" alt="">
                                <div class="bg"></div>
                                <span>햄버거</span>
                            </div>
                            <div class="a3 innerFlow">
                                <img src="/assets/img/kidsmode/contents/cover_3.png" alt="">
                                <div class="bg"></div>
                                <span>아파트</span>
                            </div>
                            <div class="a4 innerFlow">
                                <img src="/assets/img/kidsmode/contents/cover_4.png" alt="">
                                <div class="bg"></div>
                                <span>차이나</span>
                            </div>
                            <div class="a5 innerFlow">
                                <img src="/assets/img/kidsmode/contents/cover_5.png" alt="">
                                <div class="bg"></div>
                                <span>서커스</span>
                            </div>
                            <div class="a6 innerFlow">
                                <img src="/assets/img/kidsmode/contents/cover_6.png" alt="">
                                <div class="bg"></div>
                                <span>로켓</span>
                            </div>
                            <div class="a7 innerFlow">
                                <img src="/assets/img/kidsmode/contents/cover_7.png" alt="">
                                <div class="bg"></div>
                                <span>궁전</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- e : contents -->
    <!-- s : footer -->
    <footer>
        <div class="footerCon">
            <ul>
                <li class="info">
                    <p>우리아이의 스마트폰 사용, <strong>첫 시작은 키즈모드와 함께하세요!</strong></p>
                    <a href="#none">지원 가능한 단말기 확인하기 <span>&rarr;</span></a>
                </li>
                <li class="app">
                    <a href="#none"><img src="/assets/img/kidsmode/common/img_galaxyapp.png" alt="Galaxy APPS"></a>
                    <a href="#none"><img src="/assets/img/kidsmode/common/img_googleapp.png" alt="Google Play"></a>
                    <p>* Galaxy Apps의 경우 Galaxy Essentials 에서 <span>Kids Mode를 선택하세요.</span></p>
                </li>
            </ul>
        </div>
        <div class="footer">
            <ul>
                <li><a href="#none">이용약관</a></li>
                <li><a href="#none">개인정보취급방침</a></li>
            </ul>
            <p class="copyright">Copyright© 2015-2016 SAMSUNG All Rights Reserved.</p>
            <a href="#none" class="goSamsung">Samsung.com <span>&rarr;</span></a>
        </div>
    </footer>
    <!-- e : footer -->
</div>
<div class="dimLayer"></div>
<script src="/assets/js/kidsmode/jquery.min.js"></script>
<script src="/assets/js/kidsmode/jquery.easing.min.js"></script>
<script src="/assets/js/kidsmode/slick.js"></script>
<script>
    $('.slide_1').slick({
        dots: false,
        speed: 500,
        slidesToShow : 3,
        slidesToScroll :1,
        cssEase: 'linear',
        arrow : false,
        loop:false,
        infinite:false
    });
</script>
<script src="/assets/js/kidsmode/ui.js"></script>