<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>삼성 키즈모드</title>

<link rel="stylesheet" href="/assets/css/kidsmode/slick.css">
<link rel="stylesheet" href="/assets/css/kidsmode/slick-theme.css">
<link rel="stylesheet" href="/assets/css/kidsmode/common.css">
<link rel="stylesheet" href="/assets/css/kidsmode/contents.css">

<div class="wrapper">
    <!-- s : header -->
    <header>
        <h1><a href="/"><img src="/assets/img/kidsmode/common/logo.png" alt="SAMSUNG 키즈모드"></a></h1>
        <div class="navi">
            <nav>
                <ul>
                    <li><a href="./kids_advantage.html">특장점</a></li>
                    <li><a href="./kids_character.html">캐릭터 소개</a></li>
                    <li><a href="./kids_manual.html">사용방법</a></li>
                    <li><a href="./kids_mode.html" class="selected"><span>#</span>키즈모드</a></li>
                    <li><a href="./kids_list.html">뉴스&amp;이벤트</a></li>
                    <li><a href="./kids_faq.html">FAQ</a></li>
                </ul>
            </nav>
            <div class="lang">
                <a href="#none" class="selected">Korea</a>
                <a href="#none">English</a>
            </div>
        </div>
        <button type="button">gnb 오픈</button>
    </header>
    <!-- e : header -->
    <!-- s : contents -->
    <div class="contents">
        <div class="kidsMode">
            <div class="titArea">
                <h2 class="subTit"><span class="sharp">#</span>키즈모드</h2>
                <p class="subDesc">추천 기능부터 사용후기까지 <span>다양한 키즈모드 사용 #꿀팁이 담겨있습니다.</span></p>
            </div>
            <div class="selectArea">
                <div class="selectCon">
                    <div>
                        우리의 아이의 나이는
                        <span>
                        <select id="selectMenu">
                            <option value="">전체</option>
                            <option value="">3~4</option>
                            <option value="">5~6</option>
                            <option value="">7~8</option>
                        </select>
                        세 입니다.
                        </span>
                    </div>
                    <span class="referTxt">또래 자녀를 둔 부모님의 사용 후기를 확인해보세요!</span>
                </div>
            </div>
            <ul class="toggleTab">
                <li><a href="#none" class="selected">전체</a></li>
                <li><a href="#none">파워블로그</a></li>
                <li><a href="#none">체험단</a></li>
                <li><a href="#none">육아정보</a></li>
            </ul>
            <div class="toggleSelect">
                <select name="" id="selectMenu1">
                    <option value="">전체</option>
                    <option value="">파워블로그</option>
                    <option value="">체험단</option>
                    <option value="">육아정보</option>
                </select>
            </div>
            <div class="snsBlog">
                <ul>
                    <li>
                        <a href="#none">
                            <img src="/assets/img/kidsmode/main/blog_li_01.jpg" alt="">
                            <strong>삼성키즈모드로 아이가 달라졌어요~삼성키즈모드로 아이가 달라졌어요~</strong>
                        </a>
                        <em>꽃여사</em>
                        <p>내 아이가 만나는 첫 번째 디지털 세상, 키즈모드
                            키즈모드 체험단 선정자를 발표를 기다리셨나요?</p>
                    </li>
                    <li>
                        <a href="#none">
                            <img src="/assets/img/kidsmode/main/blog_li_02.jpg" alt="">
                            <strong>삼성키즈모드로 아이가 달라졌어요~</strong>
                        </a>
                        <em>꽃여사</em>
                        <p>내 아이가 만나는 첫 번째 디지털 세상, 키즈모드
                            키즈모드 체험단 선정자를 발표를 기다리셨나요?</p>
                    </li>
                    <li>
                        <a href="#none">
                            <img src="/assets/img/kidsmode/main/blog_li_03.jpg" alt="">
                            <strong>삼성키즈모드로 아이가 달라졌어요~</strong>
                        </a>
                        <em>꽃여사</em>
                        <p>내 아이가 만나는 첫 번째 디지털 세상, 키즈모드
                            키즈모드 체험단 선정자를 발표를 기다리셨나요?</p>
                    </li>
                    <li>
                        <a href="#none">
                            <img src="/assets/img/kidsmode/main/blog_li_01.jpg" alt="">
                            <strong>삼성키즈모드로 아이가 달라졌어요~삼성키즈모드로 아이가 달라졌어요~</strong>
                        </a>
                        <em>꽃여사</em>
                        <p>내 아이가 만나는 첫 번째 디지털 세상, 키즈모드
                            키즈모드 체험단 선정자를 발표를 기다리셨나요?</p>
                    </li>
                    <li>
                        <a href="#none">
                            <img src="/assets/img/kidsmode/main/blog_li_02.jpg" alt="">
                            <strong>삼성키즈모드로 아이가 달라졌어요~</strong>
                        </a>
                        <em>꽃여사</em>
                        <p>내 아이가 만나는 첫 번째 디지털 세상, 키즈모드
                            키즈모드 체험단 선정자를 발표를 기다리셨나요?</p>
                    </li>
                    <li>
                        <a href="#none">
                            <img src="/assets/img/kidsmode/main/blog_li_03.jpg" alt="">
                            <strong>삼성키즈모드로 아이가 달라졌어요~</strong>
                        </a>
                        <em>꽃여사</em>
                        <p>내 아이가 만나는 첫 번째 디지털 세상, 키즈모드
                            키즈모드 체험단 선정자를 발표를 기다리셨나요?</p>
                    </li>
                </ul>
                <a href="#none" class="moreBtn type1">더보기</a>
            </div>
            <!--<div class="snsInstar">
                <div class="instarCon">
                    <h3 class="conTit"><span class="sharp">#</span>키즈모드 <span class="sharp">#</span>SNS</h3>
                    <ul>
                        <li><a href="#none"><img src="/assets/img/kidsmode/main/instar_li_01.jpg" alt=""><span></span></a></li>
                        <li><a href="#none"><img src="/assets/img/kidsmode/main/instar_li_02.jpg" alt=""><span></span></a></li>
                        <li><a href="#none"><img src="/assets/img/kidsmode/main/instar_li_03.jpg" alt=""><span></span></a></li>
                        <li><a href="#none"><img src="/assets/img/kidsmode/main/instar_li_04.jpg" alt=""><span></span></a></li>
                        <li><a href="#none"><img src="/assets/img/kidsmode/main/instar_li_05.jpg" alt=""><span></span></a></li>
                        <li><a href="#none"><img src="/assets/img/kidsmode/main/instar_li_06.jpg" alt=""><span></span></a></li>
                        <li><a href="#none"><img src="/assets/img/kidsmode/main/instar_li_07.jpg" alt=""><span></span></a></li>
                        <li><a href="#none"><img src="/assets/img/kidsmode/main/instar_li_08.jpg" alt=""><span></span></a></li>
                    </ul>
                </div>
            </div>-->
        </div>
    </div>
    <!-- e : contents -->
    <!-- s : footer -->
    <footer>
        <div class="footerCon">
            <ul>
                <li class="info">
                    <p>우리아이의 스마트폰 사용, <strong>첫 시작은 키즈모드와 함께하세요!</strong></p>
                    <a href="#none">지원 가능한 단말기 확인하기 <span>&rarr;</span></a>
                </li>
                <li class="app">
                    <a href="#none"><img src="/assets/img/kidsmode/common/img_galaxyapp.png" alt="Galaxy APPS"></a>
                    <a href="#none"><img src="/assets/img/kidsmode/common/img_googleapp.png" alt="Google Play"></a>
                    <p>* Galaxy Apps의 경우 Galaxy Essentials 에서 <span>Kids Mode를 선택하세요.</span></p>
                </li>
            </ul>
        </div>
        <div class="footer">
            <ul>
                <li><a href="#none">이용약관</a></li>
                <li><a href="#none">개인정보취급방침</a></li>
            </ul>
            <p class="copyright">Copyright© 2015-2016 SAMSUNG All Rights Reserved.</p>
            <a href="#none" class="goSamsung">Samsung.com <span>&rarr;</span></a>
        </div>
    </footer>
    <!-- e : footer -->
</div>
<div class="msgLayer">
    <p>선택하신 카테고리의 검색<br> 결과가 없어, 선택하신 연령대의<br> 전체 후기가 나열되었습니다.</p>
    <a href="#none" class="blueBtn">닫기</a>
</div>
<div class="dimLayer" style=""></div>
<script src="/assets/js/kidsmode/jquery.min.js"></script>
<script src="/assets/js/kidsmode/jquery.easing.min.js"></script>
<script src="/assets/js/kidsmode/slick.min.js"></script>
<script src="/assets/js/kidsmode/jquery-ui.min.js"></script>
<script src="/assets/js/kidsmode/ui.js"></script>
<script>
    $(document).ready(function(){
        $( "#selectMenu, #selectMenu1" ).selectmenu();
    });
</script>
